<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div id="print-section">
          <div class="col-sm shadow text-justify fondodivleft shadow grayinst">
            <h3 class="titleInstRed">
              <i class="far fa-newspaper"></i> {{ agenda.titulo }}
            </h3>
            <hr class="lineInstRed" />
            <br /><br />
            <div class="row animated fadeIn fast">
              <div class="col-md-12">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <h6 class="subTituloRojoInstitucional text-left">
                          <i class="far fa-bookmark"></i> Reseña:
                        </h6>
                        <p>{{ agenda.resenia }}</p>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col">
                        <h6 class="subTituloRojoInstitucional text-left">
                          <i class="far fa-calendar-alt"></i> Fecha Del Evento
                          {{
                            agenda.fechaEvento | date: "fullDate" | titlecase
                          }}
                        </h6>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>{{ agenda.parrafo }}</p>
                      </div>
                    </div>
                    <br />
                    <div class="row no-print">
                      <div class="col">
                        <a
                          class="btn navlinkinSolid btn-lg btn-block"
                          target="_blank"
                          [href]="agenda.url"
                        >
                          <i class="fas fa-info-circle"></i> Más información
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col text-right">
                    <small class="subTituloRojoInstitucional m-2">
                      Fecha De Publicación:
                      {{
                        agenda.fechaPublicacion | date: "fullDate" | titlecase
                      }}
                    </small>
                    <img
                      [src]="agenda.img"
                      class="rounded mx-auto d-block"
                      width="100%"
                      alt="..."
                      style="border: solid 1px black"
                    />
                    <br />
                    <div
                      *ngIf="alertBool != false"
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                    >
                      <strong>{{ imgError }}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-print">
              <div class="col">
                <button
                class="btn navlinkinSolid"
                printSectionId="print-section"
                [useExistingCss]="true"
                printTitle="Perfil {{agenda.titulo}}"
                ngxPrint
              >
                <i class="fas fa-print"></i> Imprimir
              </button>
                <button
                  class="btn navlinkinSolid m-1"
                  [routerLink]="['/agenda']"
                >
                  <i class="fas fa-sign-out-alt"></i> Regresar
                </button>
              </div>
              <div class="col text-right">
                <ng-template #formAdmin let-modal>
                  <div class="modal-header bgrojoyblanco">
                    <h4 class="modal-title">
                      <i class="fas fa-user-cog white"></i> Administrar
                      contenido:
                    </h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <i class="fas fa-times" style="color: white"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="text-center p-2" #forma="ngForm">
                      <!-- Email -->
                      <div class="d-flex justify-content-around">
                        <i
                          class="fas fa-user-shield fa-2x grayinst"
                          style="margin: 5px"
                        ></i>
                        <input
                          type="name"
                          id="defaultLoginFormEmail"
                          [(ngModel)]="user"
                          name="user"
                          class="form-control mb-4"
                          placeholder="Usuario"
                        />
                      </div>

                      <!-- Password -->
                      <div class="d-flex justify-content-around">
                        <i
                          class="fas fa-key fa-2x grayinst"
                          style="margin: 5px"
                        ></i>
                        <input
                          [(ngModel)]="key"
                          name="key"
                          type="password"
                          id="defaultLoginFormPassword"
                          class="form-control mb-4"
                          placeholder="Contraseña"
                        />
                      </div>

                      <div class="d-flex justify-content-around">
                        <div>
                          <!-- Remember me -->
                          <mdb-checkbox [default]="true"
                            >Recuerdame</mdb-checkbox
                          >
                        </div>
                        <div>
                          <!-- Forgot password -->
                          <a href="">¿Recuperar?</a>
                        </div>
                      </div>
                    </form>
                  </div>
                  <hr />
                  <div
                    *ngIf="error != false"
                    class="alert alert-danger alert-dismissible fade show"
                    role="alert"
                  >
                    <strong>{{ passError }}</strong>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <i class="fas fa-times" style="color: #8f141b"></i>
                    </button>
                  </div>
                  <button
                    *ngIf="ajustes != false"
                    type="button"
                    style="
                      width: 80%;
                      margin-left: auto;
                      margin-right: auto;
                      margin-bottom: 20px;
                    "
                    class="btn navlinkinSolid p-3"
                    ngbAutofocus
                    (click)="viewOpciones(key, user)"
                    (click)="modal.dismiss('Cross click')"
                  >
                    Acceder
                  </button>
                </ng-template>
                <div
                  *ngIf="ajustes != false"
                  class="col"
                  (click)="openSm(formAdmin)"
                >
                  <i
                    class="fas fa-wrench fa-2x"
                    placement="left"
                    ngbTooltip="Ajustes"
                    style="color: #8f141b"
                  ></i>
                </div>
                <div class="col text-right" *ngIf="vistaEdicion != false">
                  <a
                    class="btn navlinkinSolid m-2"
                    [routerLink]="['/admi_agenda', 'nuevo']"
                    ><i class="fas fa-plus-circle"></i> Agregar nueva Publicación</a
                  >
                  <a
                    class="btn navlinkinSolid m-2"
                    (click)="nav()"
                    ><i class="fas fa-user-edit"></i> Editar</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
