<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/grupinves.jpg"
      class="d-block w-100"
      style="height: 300px"
      alt=""
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-8 shadow fondodivleft shadow">
          <h2 class="redinst">Grupos de investigación</h2>
          <br />
          <!--ETILO OPCIONAL
            mdbTable
            class="z-depth-1"
          -->
          <table
            id="tableSortExample"
            class="table table-bordered parinst table-responsive text-center"
            style="border-radius: 10px"
          >
            <thead class="tablatit">
              <tr class="white">
                <th scope="col" [mdbTableSort]="gruposInv" sortBy="id">
                  CÓDIGO DE GRUPO COLCIENCIAS
                  <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th scope="col" [mdbTableSort]="gruposInv" sortBy="nombre">
                  NOMBRE DEL GRUPO <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th scope="col" [mdbTableSort]="gruposInv" sortBy="lider">
                  LÍDER DEL GRUPO <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th scope="col" [mdbTableSort]="gruposInv" sortBy="clasi">
                  CLASIFICACIÓN DEL GRUPO <mdb-icon fas icon="sort"></mdb-icon>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let grupo of gruposInv; let i = index">
                <th scope="row">{{ grupo.id }}</th>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.lider }}</td>
                <td>{{ grupo.clasi }}</td>
              </tr>
            </tbody>
          </table>
          <br />
          <br />
          <br />
        </div>
        <div class="col-auto shadow fondodivright">
          <a
            class="twitter-timeline"
            data-lang="es"
            data-height="500"
            data-theme="light"
            href="https://twitter.com/FACSALUD_USCO?ref_src=twsrc%5Etfw"
            >Tweets de FACSALUD_USCO</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
