<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/grupinves.jpg"
      class="d-block w-100"
      style="height: 300px"
      alt=""
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-8 shadow fondodivleft shadow">
          <h2 class="redinst">Grupos de investigación</h2>
          <br />
          <table
            class="table table-bordered parinst table-responsive text-center"
            style="border-radius: 10px"
          >
            <thead class="tablatit">
              <tr class="white">
                <th scope="col">CÓDIGO DE GRUPO COLCIENCIAS</th>
                <th scope="col">NOMBRE DEL GRUPO</th>
                <th scope="col">LÍDER DEL GRUPO</th>
                <th scope="col">CLASIFICACIÓN DEL GRUPO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">COL0019991</th>
                <td>Carlos Finlay</td>
                <td>Nicolás Arturo Núñez Gómez</td>
                <td>A1</td>
              </tr>
              <tr>
                <th scope="row">COL0024427</th>
                <td>Mi Dneuropsy</td>
                <td>Efraín Amaya Vargas</td>
                <td>A1</td>
              </tr>
              <tr>
                <th scope="row">COL0014556</th>
                <td>Parasitología y medicina tropical</td>
                <td>Jairo Antonio Rodríguez Rodríguez</td>
                <td>A1</td>
              </tr>
              <tr>
                <th scope="row">COL0035331</th>
                <td>Laboratorio de medicina genómica</td>
                <td>Henry Ostos Alfonso</td>
                <td>A1</td>
              </tr>
              <tr>
                <th scope="row">COL0022253</th>
                <td>Agroindustria</td>
                <td>Nelson Gutiérrez Guzmán</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">COL0045285</th>
                <td>Desarrollo social, salud pública y derechos humanos</td>
                <td>José Domingo Alarcón</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">COL0045285</th>
                <td>Cuidar</td>
                <td>Dolly Orfilia Arias</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">COL0088925</th>
                <td>Neurored</td>
                <td>Lina María Sánchez Piedrahita</td>
                <td>A</td>
              </tr>
              <tr>
                <th scope="row">COL0022244</th>
                <td>Ecosistemas sur-colombianos</td>
                <td>Alfredo Olaya Amaya</td>
                <td>B</td>
              </tr>
              <tr>
                <th scope="row">COL0001627</th>
                <td>Culturas, conflictos y subjetividades</td>
                <td>William Fernando Torres S</td>
                <td>B</td>
              </tr>
              <tr>
                <th scope="row">COL0044063</th>
                <td>Nuevas visiones del derecho</td>
                <td>German Alfonso López Daza</td>
                <td>B</td>
              </tr>
              <tr>
                <th scope="row">COL0101419</th>
                <td>Biología de la re-producción</td>
                <td>Manuel García Flórez</td>
                <td>C</td>
              </tr>

              <tr>
                <th scope="row">COL0047038</th>
                <td>Salud y grupos vulnerables</td>
                <td>Claudia Andrea Ramírez</td>
                <td>D</td>
              </tr>
            </tbody>
          </table>
          <br /><br />
          <!-- 
          <p>
            You can introduce custom directives for table headers to sort
            columns
          </p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col" sortable="name" (sort)="onSort($event)">
                  Country
                </th>
                <th scope="col" sortable="area" (sort)="onSort($event)">
                  Area
                </th>
                <th scope="col" sortable="population" (sort)="onSort($event)">
                  Population
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let country of countries">
                <th scope="row">{{ country.id }}</th>
                <td>
                  <img
                    [src]="
                      'https://upload.wikimedia.org/wikipedia/commons/' +
                      country.flag
                    "
                    class="mr-2"
                    style="width: 20px"
                  />
                  {{ country.name }}
                </td>
                <td>{{ country.area | number }}</td>
                <td>{{ country.population | number }}</td>
              </tr>
            </tbody>
          </table> TABLE NG BOOPSTRAP -->
        </div>
        <div class="col-auto shadow fondodivright">
          <a
            class="twitter-timeline"
            data-lang="es"
            data-height="500"
            data-theme="light"
            href="https://twitter.com/FACSALUD_USCO?ref_src=twsrc%5Etfw"
            >Tweets de FACSALUD_USCO</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
