<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/entradafacultadsalud.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <h3 class="titleInstRed">Localización</h3>
          <hr class="lineInstRed"><br>
          <h5><b>Neiva, Huila</b></h5>
          <div class="mgText">
            <iframe src="https://www.google.com/maps/d/embed?mid=1qTBtbI1tw7SidkybLohcrEaWj2UaQUJ4" width="100%" height="480"></iframe>
            <br>
            <hr>
            <br>
            <h5><b>Áreas del bloque 53</b></h5>
            <img src="assets/bloque53.png" class="rounded mx-auto d-block" style="border: solid black 1px;margin-top: 10px;margin-bottom: 20px">
            <h5><b>Nomenclatura:</b></h5>
            <table class="table table-striped text-center grayinst mx-auto" style="font-weight: bold;width: 50%;">
              <thead>
                <tr>
                  <td >Bloque #1</td>
                  <td>Hall Acceso</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td >Bloque #2</td>
                  <td>Secretaria</td>
                </tr>
                <tr>
                  <td >Bloque #3</td>
                  <td>Coordinacion Programa</td>
                </tr>
                <tr>
                  <td >Bloque #4</td>
                  <td>Aula</td>
                </tr>
                <tr>
                  <td >Bloque #5</td>
                  <td>Oficina Docentes</td>
                </tr>
                <tr>
                  <td >Bloque #6</td>
                  <td>Oficina Docentes</td>
                </tr>
                <tr>
                  <td >Bloque #7</td>
                  <td>Aula</td>
                </tr>
                <tr>
                  <td >Bloque #8</td>
                  <td>Baño Hombres</td>
                </tr>
                <tr>
                  <td >Bloque #9</td>
                  <td>Baño Mujeres</td>
                </tr>
                <tr>
                  <td >Bloque #10</td>
                  <td>Aula</td>
                </tr>
                <tr>
                  <td >Bloque #11</td>
                  <td>Oficina</td>
                </tr>
                <tr>
                  <td >Bloque #12</td>
                  <td>Aula</td>
                </tr>
                <tr>
                  <td >Bloque #13</td>
                  <td>Consultorio</td>
                </tr>
              </tbody>
            </table>
          <button class="btn navlinkinSolid">
            <i class="fas fa-print"></i> Imprimir
          </button>
            <hr>
            <br><br>
            <h3 class="titleInstRed">Entrada principal</h3>
            <br>
            <img src="assets/ubicacionsubsede.jpg" class="rounded img-fluid">
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="redinst">USCO</h3>
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=2300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="2300"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
