<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/entradafacultadsalud.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <h3 class="titleInstRed">Localización</h3>
          <hr class="lineInstRed" />
          <br />
          <h5><b>Neiva, Huila</b></h5>
          <div class="mgText">
            <iframe
              src="https://www.google.com/maps/d/embed?mid=1qTBtbI1tw7SidkybLohcrEaWj2UaQUJ4"
              width="100%"
              height="480"
            ></iframe>
            <hr />
            <br />
            <h5 class="font-weight-bold">Entrada principal</h5>
            <br />
            <img src="assets/ubicacionsubsede.jpg" class="rounded img-fluid" />
            <hr />
            <br />
            <div id="print-section">
              <h5><b>Bloques de la Facultad de Salud</b></h5>
              <img
                src="assets/mapabloques.jpg"
                class="rounded img-fluid"
                useMap="#ImageMap"
                style="
                  border: solid black 1px;
                  margin-top: 10px;
                  margin-bottom: 20px;
                "
              />
              <map name="ImageMap">
                <AREA
                  shape="POLY"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 54: Bioterio"
                  coords="80,49,95,62,123,37,109,24"
                />
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 50: Laboratorio de Morfología y Enfermería"
                  coords="542,123,658,244"
                />
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 51: Laboratorio, Aulas, Oficinas y Biblioteca"
                  coords="430,124,498,232"
                />
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 52: Cafetería, Decanatura y Oficinas"
                  coords="339,109,390,195"
                />
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 53: Doctorado en Ciencias De Salud"
                  coords="185,95,267,226"
                />
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Bloque 55: Cirugía Experimental"
                  coords="102,81,167,154"
                />
              </map>
              <h5>Nomenclatura:</h5>
              <ul class="font-weight-bold">
                <li>Bloque 54: Bioterio</li>
                <li>Bloque 55: Cirugía Experimental</li>
                <li>Bloque 53: Doctorado en Ciencias De Salud</li>
                <li>
                  <i class="fas fa-caret-left fa-lg" style="color: #c80000"></i>
                  Entrada Hall Acceso del Programa
                </li>
                <li>Bloque 52: Cafetería, Decanatura y Oficinas</li>
                <li>Bloque 51: Laboratorio, Aulas, Oficinas y Biblioteca</li>
                <li>Bloque 50: Laboratorio de Morfología y Enfermería</li>
              </ul>
              <hr />
              <br />
              <h5><b>Áreas del bloque 53</b></h5>
              <img
                src="assets/bloque53.png"
                class="rounded img-fluid"
                useMap="#ImageMap2"
                style="
                  border: solid black 1px;
                  margin-top: 10px;
                  margin-bottom: 20px;
                "
              />
              <MAP name="ImageMap2">
                <AREA
                  shape="RECT"
                  type="button"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="80,330,105,388"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="115,348,152,384"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="164,327,265,404"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="357,193,442,260"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="451,194,522,260"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="564,108,650,260"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="499,108,553,166"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="433,110,486,163"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="384,110,425,188"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="299,30,369,112"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="147,27,283,110"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="94,24,138,88"
                />
                <AREA
                  shape="RECT"
                  data-toggle="tooltip"
                  data-placement="top"
                  title=""
                  coords="8,69,86,208"
                />
              </MAP>
              <h5>Nomenclatura:</h5>
              <div class="row">
                <div class="col">
                  <ul class="font-weight-bold">
                    <li>Bloque 1: Hall Acceso</li>
                    <li>Bloque 2: Secretaria</li>
                    <li>Bloque 3: Coordinacion Programa</li>
                    <li>Bloque 4: Aula</li>
                    <li>Bloque 5: Oficina Docentes</li>
                    <li>Bloque 6: Oficina Docentes</li>
                    <li>Bloque 7: Aula</li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="font-weight-bold">
                    <li>Bloque 8: Baño Hombres</li>
                    <li>Bloque 9: Baño Mujeres</li>
                    <li>Bloque 10: Aula</li>
                    <li>Bloque 11: Oficina</li>
                    <li>Bloque 12: Aula</li>
                    <li>Bloque 13: Consultorio</li>
                  </ul>
                </div>
              </div>
            </div>
            <hr />
            <button
              class="btn navlinkinSolid"
              printSectionId="print-section"
              [useExistingCss]="true"
              printTitle="Ubicación Doctorado en Ciencias de la Salud"  
              ngxPrint
            >
              <i class="fas fa-print"></i> Imprimir
            </button>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed">Infórmate</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=2300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="2300"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
