<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/slide-publicacion-profesores.jpg"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div class="container mt-5 mb-5">
    <form #forma="ngForm">
      <div class="row div-center shadow pt-4 pb-4" id="print-section">
        <div class="col">
          <div class="row">
            <div
              class="col-md-4 text-center bg-usco-vt-d1 text-white p-4"
              style="border-radius: 10px 10px 10px 10px"
            >
              <div class="row">
                <div class="col">
                  <h3 class="font-weight-bold">
                    {{ plantelProfesor.nombre }}
                  </h3>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <img
                    [src]="plantelProfesor.foto"
                    [alt]="plantelProfesor.nombre"
                    [title]="plantelProfesor.nombre"
                    class="img"
                    style="
                      width: 250px;
                      height: 250px;
                      border: solid 5px white;
                      border-radius: 100%;
                    "
                  />
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <h5 class="font-weight-bold">Docente</h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="font-weight-bold">Universidad Surcolombiana</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="font-weight-bold">
                    <i class="fas fa-envelope"></i>
                    {{ plantelProfesor.correo }}
                  </h6>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col">
                  <h6
                    class="text-center no-print p-3"
                    style="background-color: #b15b60; border-radius: 10px"
                  >
                    <a
                      style="color: white"
                      href="http://wsp.presidencia.gov.co/Normativa/Leyes/Documents/LEY%201712%20DEL%2006%20DE%20MARZO%20DE%202014.pdf"
                      target="_blank"
                      >Ver Ley de Transparencia y acceso a la información</a
                    >
                  </h6>
                </div>
              </div>
            </div>
            <div class="col-md-8 text-justify">
              <div
                class="p-4 text-white bg-usco-vt-d1"
                style="border-radius: 10px 10px 0px 0px"
              >
                <h5>
                  <i class="fas fa-edit"></i>
                  {{ articuloDocente.nombreArticulo }}
                </h5>
                <hr style="border: solid 1px white" />
                <p>
                  <strong><i class="fas fa-users"></i> Autores:</strong>
                  {{ articuloDocente.autores }}
                </p>
              </div>
              <div class="row p-4">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h5>
                        <strong
                          ><i class="fas fa-bookmark"></i>
                          Resumen/Abtract:</strong
                        >
                      </h5>
                    </div>
                    <div class="col text-right">
                      <small
                        >Fecha de publicación:
                        {{ articuloDocente.anio | date }}</small
                      >
                    </div>
                  </div>

                  <p class="m-2">
                    {{ articuloDocente.resumen }}
                  </p>
                  <br />
                  <div class="row">
                    <div class="col">
                      <h5>
                        <strong
                          ><i class="fab fa-readme"></i> Visualización del
                          artículo:</strong
                        >
                      </h5>
                    </div>
                    <div class="col text-right">
                      <small
                        ><a [href]="plantelProfesor.cvlac" target="_blank"
                          >CVLAC /</a
                        ><a [href]="plantelProfesor.orcid" target="_blank">
                          ORCID / </a
                        ><a
                          [href]="
                            articuloDocente.enlace
                              | domseguro : 'https://drive.google.com/file/d/'
                          "
                          target="_blank"
                        >
                          DRIVE</a
                        ></small
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="container">
                    <iframe
                      [src]="
                        articuloDocente.enlace
                          | domseguro : 'https://drive.google.com/file/d/'
                      "
                      width="100%"
                      height="480"
                    ></iframe>
                  </div>
                  <hr />
                </div>
              </div>
            </div>
          </div>
          <div class="row font-usco-gr">
            <div
              class="col text-justify"
              style="margin-bottom: 20px; padding-left: 0px"
            >
              <div>
                <div class="row mt-4">
                  <div class="col-md-8">
                    <h4 class="m-2">
                      <strong
                        ><i class="fas fa-scroll"></i> Otras publicaciones de
                        {{ plantelProfesor.nombre }}</strong
                      >
                    </h4>
                  </div>
                  <div class="col-md-4">
                    <ngb-pagination
                      class="d-flex justify-content-end"
                      [collectionSize]="
                        plantelProfesor.fieldArrayArticulos.length
                      "
                      [pageSize]="pageSizeArticulos"
                      [(page)]="pageArticulos"
                    ></ngb-pagination>
                  </div>
                </div>
                <table class="table table-hover books">
                  <tbody>
                    <tr
                      *ngFor="
                        let fieldArticulos of plantelProfesor.fieldArrayArticulos
                          | slice
                            : (pageArticulos - 1) * pageSizeArticulos
                            : (pageArticulos - 1) * pageSizeArticulos +
                                pageSizeArticulos;
                        let i = index
                      "
                    >
                      <td width="100px">
                        <div class="img-intro-left cover">
                          <a
                            (click)="up()"
                            [routerLink]="[
                              '/articulo_docente',
                              link,
                              (pageArticulos - 1) * pageSizeArticulos + i
                            ]"
                            ><img
                              class="img-polaroid"
                              src="assets/PDF_file_icon.svg"
                              [alt]="fieldArticulos.nombreArticulo"
                          /></a>
                        </div>
                      </td>
                      <td>
                        <h5
                          class="card-title font-usco-vt font-weight-bold cursor-select text-left"
                          (click)="up()"
                          [routerLink]="[
                            '/articulo_docente',
                            link,
                            (pageArticulos - 1) * pageSizeArticulos + i
                          ]"
                        >
                          {{
                            (pageArticulos - 1) * pageSizeArticulos + (i + 1)
                          }}. {{ fieldArticulos.nombreArticulo }}
                        </h5>
                        <div>
                          <strong
                            ><i class="fas fa-users"></i> Autores:
                          </strong>
                          <a
                            [href]="
                              fieldArticulos.enlace
                                | domseguro : 'https://drive.google.com/file/d/'
                            "
                            target="_blank"
                            >{{ fieldArticulos.autores }}</a
                          >
                        </div>
                        <dl>
                          <dd>
                            <strong
                              ><i class="fas fa-calendar-day"></i> Año:
                            </strong>
                            {{ fieldArticulos.anio | date : "yyyy" }}
                          </dd>
                          <dd>
                            <strong
                              ><i class="fab fa-readme"></i> Resumen:
                            </strong>
                            {{ fieldArticulos.resumen | slice : 0 : 280 }}
                            <a
                              (click)="up()"
                              [routerLink]="[
                                '/articulo_docente',
                                link,
                                (pageArticulos - 1) * pageSizeArticulos + i
                              ]"
                              style="color: #8f141b"
                              >... Ver más</a
                            >
                          </dd>
                        </dl>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br />
              </div>
            </div>
          </div>
          <hr />
          <div class="row no-print">
            <div class="col">
              <button
                class="btn btn-usco-vt"
                printSectionId="print-section"
                [useExistingCss]="true"
                printTitle="Perfil {{ plantelProfesor.nombre }}"
                ngxPrint
              >
                <i class="fas fa-print"></i> Imprimir
              </button>
              <button
                class="btn btn-usco-vt m-1"
                [routerLink]="['/articulosProfesores']"
              >
                <i class="fas fa-sign-out-alt"></i> Regresar
              </button>
            </div>
            <div class="col text-right" *ngIf="auth.user | async">
              <button
                class="btn btn-usco-vt m-2"
                [routerLink]="['/admi_plantel', 'nuevo']"
              >
                <i class="fas fa-plus-circle"></i> Agregar nuevo Profesor
              </button>
              <button class="btn btn-usco-vt m-2" (click)="nav()">
                <i class="fas fa-user-edit"></i> Editar
              </button>
              <button class="btn btn-usco-vt m-2" (click)="borrarPlantel()">
                <i class="fas fa-user-edit"></i> Borrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
