<!--FOOTER V2.0 IMPLEMENTAR ENLACES DE IMAGENES-->
<footer class="page-footer light" >
  <div class="container-fluid" style="background-color: #e6e6e6; height: 60px;">
    <div class="row">
      <div class="col">
        <a href="https://www.usco.edu.co/es/" target="_blank">
          <img
            class="rounded"
            src="assets/universidad-surcolombiana.png"
            alt="Página oficial de la Universidad Surcolombiana"
            title="Página oficial de la Universidad Surcolombiana"
            style="width: 50%; height: 50%; margin-top: 10px;"
          />
        </a>
      </div>
      <div class="col">
        <a
          href="https://www.mineducacion.gov.co/sistemasinfo/snies/"
          target="_blank"
        >
          <img
            class="rounded"
            src="assets/snies2019.jpg"
            alt="Sistema Nacional de Informacion de la Educacion Superior (SNIES)"
            title="Sistema Nacional de Informacion de la Educacion Superior (SNIES)"
            style="width: 60%; height: 50%; margin-top: 10px;"
          />
        </a>
      </div>
      <div class="col">
        <a
          href="https://www.mineducacion.gov.co/portal/Educacion-superior/"
          target="_blank"
        >
          <img
            class="rounded"
            src="assets/minedu.png"
            alt="Ministerio de educación - Educación superior"
            title="Ministerio de educación - Educación superior"
            style="width: 60%; height: 50%; margin-top: 10px;"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 30px;">
    <div class="row">
      <article class="centro txtcenter">
        <figure class="espacio">
          <img
            src="assets/universidad-surcolombiana.png"
            alt="Universidad Surcolombian"
            title="Universidad Surcolombian"
          />
        </figure>

        <p>
          <strong
            >Institución de Educación Superior sujeta a inspección y vigilancia
            del Ministerio de Educación Nacional</strong
          >
        </p>
        <br />
      </article>
    </div>
  </div>
  <div
    class="footer-copyright text-uppercase"
    style="background-color: dimgray; color: white; margin: 0;"
  >
    <p style="margin-top: 20px;">
      <b> Derechos reservados DOCTORADO EN CIENCIAS DE LA SALUD</b>©
    </p>
  </div>
</footer>
