<!-- Footer -->
<footer
  class="page-footer font-small unique-color-dark"
  style="background-color: #ededed; padding-top: 10px;"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div
        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
        style="color: #4e6470;"
      >
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p style="font-size: 12px;">
          <i class="fas fa-map-marker-alt"></i> Calle 9 No. 14-03, Contiguo al
          Hospital Universitario de Neiva, Unidad de Investigación y Posgrados,
          Oficina 530 - 102
        </p>
        <p style="font-size: 12px;">
          <i class="fas fa-envelope"></i>
          doctoradoencienciasdelasalud@usco.edu.co
        </p>
        <p style="font-size: 12px;">
          <i class="fas fa-phone"></i> (57) (8) 871 8959
        </p>
        <p style="font-size: 12px;">
          <i class="fas fa-print"></i> (57) (8) 871 8310 Extensión 3137
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">Products</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Portal Institucional</a>
        </p>
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Campus Virtual</a>
        </p>
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Sistema de Bibliotecas</a>
        </p>
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Bolsa de Empleo</a>
        </p>
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Rendición de Cuentas</a>
        </p>
        <p>
          <a style="color: #4e6470;font-size: 12px;" href="#!">Preguntas y Respuestas Frecuentes</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px;"
        />
        <p>
          Here you can use rows and columns to organize your footer content.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3"
    style="background-color: #4d626c; color: #ededed;"
  >
    © 2020 Doctorado en Ciencias de la Salud. Universidad Surcolombiana | Diseño y Desarrollo por <a href="">...</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
