<!-- Footer -->
<footer
  class="page-footer font-small unique-color-dark"
  style="background-color: #ededed; padding-top: 2px;"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div
        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
        style="color: #4e6470;"
      >
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60%;margin-bottom: 2%;"
        />
        <p style="font-size: 12px;margin-bottom: 2%;">
          <i class="fas fa-map-marker-alt"></i> Calle 9 No. 14-03, Contiguo al
          Hospital Universitario de Neiva, Unidad de Investigación y Posgrados,
          Oficina 530 - 102
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <i class="fas fa-envelope"></i>
          doctoradoencienciasdelasalud@usco.edu.co
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <i class="fas fa-phone"></i> (57) (8) 871 8959
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <i class="fas fa-print"></i> (57) (8) 871 8310 Extensión 3137
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">INSTITUCIONAL</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 90%;margin-bottom: 2%;"
        />
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://www.usco.edu.co/es/" target="_blank"><i class="fas fa-globe"></i> Portal Institucional</a>
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://campusvirtual.usco.edu.co/campusvirtual/" target="_blank"><i class="fab fa-internet-explorer"></i> Campus Virtual</a>
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://biblioteca.usco.edu.co/home" target="_blank"><i class="fas fa-book"></i> Sistema de Bibliotecas</a>
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://laborando.usco.edu.co/" target="_blank"><i class="fas fa-users-cog"></i> Bolsa de Empleo USCO</a>
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://www.usco.edu.co/es/rendicion-de-cuentas/" target="_blank"><i class="fas fa-chart-bar"></i> Rendición de Cuentas</a>
        </p>
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="https://www.usco.edu.co/es/atencion-al-ciudadano/preguntas-y-respuestas-frecuentes/" target="_blank"><i class="far fa-question-circle"></i> Preguntas y Respuestas Frecuentes</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">RECURSOS</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 80%;"
        />
        <p style="font-size: 12px;margin-bottom: 2%;">
          <a style="color: #4e6470;font-size: 12px;" href="#!"><i class="fas fa-globe"></i> Portal Institucional</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Content -->
        <img class="centro" style="width: 80%;" src="assets/usco1.png" alt="">
        <p class="text-center" style="color: #4e6470;font-size: 12px;margin-top: 10px;">
          Institución de Educación Superior sujeta a inspección y vigilancia del Ministerio de Educación Nacional.
        </p>
        <img class="centro" style="width: 70%;" src="assets/icontec.png" alt="">
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div
    class="footer-copyright text-center py-3"
    style="background-color: #4d626c; color: #ededed;"
  >
    © 2020 Doctorado en Ciencias de la Salud. Universidad Surcolombiana | Diseño y Desarrollo por <a href="">...</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
