<div class="wrapper">
  <div>
    <img src="/assets/facultad-de-salud-02-.jpg" class="d-block w-100" style="height: 250px;" alt="Responsive image">
  </div>
  <div style="background-color: #f5f5f5; color: #4e6470">
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-8 shadow text-justify" style="background-color: white;border-radius: 10px;padding: 40px;">
          <h4 style="color: #8f141b;">Competencias</h4>
          <p>
            Con el doctorado en Ciencias de la Salud se busca que quienes
            accedan a la formación de este nivel desarrollen las siguientes
            competencias
          </p>
          <h4 style="color: #8f141b;">Del Ser</h4>
          <p>
            Fortalecer el desarrollo de una persona autónoma en la vida
            personal, social, profesional e investigativa con acento
            interdisciplinar, intercultural e intersectorial.
          </p>
          <h4 style="color: #8f141b;">Del Saber</h4>
          <p>
            Comprender las realidades dinámicas del contexto de las Ciencias de
            la Salud en los aspectos económico, político, social, ambiental y
            cultural. Apropiar fundamentos epistemológicos, enfoques y diseños
            de investigación, lo mismo que herramientas para la gestión y
            divulgación del conocimiento científico en Ciencias de la Salud.
            Interpretar referentes teóricos y prácticos para la formulación y
            evaluación de políticas públicas en ciencias de la salud. Entender
            la aplicabilidad de la pedagogía para la enseñanza de la
            investigación científica en Ciencias de la Salud.
          </p>
          <h4 style="color: #8f141b;">Del Saber Hacer</h4>
          <p>
            Diseñar, gestionar, ejecutar y divulgar proyectos y productos de
            investigación científica que generen conocimiento nuevo en Ciencias
            de la Salud. Interactuar con equipos interdisciplinarios e
            intersectoriales; redes y grupos nacionales e internacionales de
            investigación científica; con entidades del Estado y del sector
            privado en lo relacionado con investigación en ciencias de la salud.
            Formular y evaluar políticas públicas en ciencias de la salud.
            Participar en la formación del talento humano, principalmente en lo
            relacionado con la investigación científica en Ciencias de la Salud.
          </p>
        </div>
        <div class="col-4">
          <div class="shadow" style="background-color: white;padding-left: 10px;border-radius: 10px;padding: 40px;">
            <h1>Spam</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
