.shadowMy {
  -webkit-box-shadow: 4px 3px 16px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 3px 16px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 3px 16px 1px rgba(0, 0, 0, 0.08);
}
.bgCollapseInst{
  background-color: #8f141b;
  color: #DFD4A6;
}
.bgCollapseInst:hover{
  background-color: #1E262B;
  color: #EDEFF0;
}
.card-header:active{
  background-color: #1E262B;
  color: #EDEFF0;
}