<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/slide-estudiantes.jpg"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container mt-4 mb-4">
      <div id="">
        <form #forma="ngForm">
          <div class="row div-center shadow" id="print-section">
            <div class="col">
              <div class="row text-right pt-2 pb-4" *ngIf="auth.user | async">
                <div class="col">
                  <button
                    class="btn btn-usco-vt"
                    [routerLink]="['/admi_estudiante', 'nuevo']"
                  >
                    <i class="fas fa-plus-circle"></i> Agregar nuevo Estudiante
                  </button>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-md-4"
                  style="
                    background-color: #8f141b;
                    padding: 20px;
                    border-radius: 10px 10px 10px 10px;
                    margin-bottom: 20px;
                  "
                >
                  <div class="row mb-4 text-center">
                    <div class="col">
                      <img
                        [src]="listado.foto"
                        [alt]="listado.nombre"
                        [title]="listado.nombre"
                        class="img"
                        style="
                          width: 250px;
                          height: 250px;
                          border: solid 5px white;
                          border-radius: 100%;
                        "
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <h6 class="text-white">
                        Estudiante Universidad Surcolombiana
                      </h6>
                      <h6 class="text-white">Código: {{ listado.codigo }}</h6>
                      <h6 class="text-white">
                        <i class="fas fa-envelope"></i>
                        {{ listado.correo }}
                      </h6>
                      <br />
                      <small
                        class="text-center no-print"
                        style="
                          background-color: #b15b60;
                          color: white;
                          padding: 10px;
                          border-radius: 10px;
                        "
                      >
                        <a
                          style="color: white"
                          href="http://wsp.presidencia.gov.co/Normativa/Leyes/Documents/LEY%201712%20DEL%2006%20DE%20MARZO%20DE%202014.pdf"
                          target="_blank"
                          >Ver ley de transparencia y acceso a la información</a
                        >
                      </small>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 text-justify">
                  <div
                    style="
                      background-color: #8f141b;
                      color: white;
                      padding: 20px;
                      border-radius: 10px 10px 0px 0px;
                    "
                  >
                    <h3>
                      <i class="fas fa-university"></i>
                      {{ listado.nombre }}
                    </h3>
                  </div>
                  <div class="row">
                    <div class="col">
                      <ngb-tabset [justify]="currentJustify" class="tabset1">
                        <ngb-tab>
                          <ng-template ngbTabTitle
                            ><i class="fas fa-user-tie"></i> Perfil</ng-template
                          >
                          <ng-template ngbTabContent>
                            <div class="row p-4">
                              <div class="col">
                                <h4 class="font-usco-vt font-weight-bold">
                                  <i class="fas fa-user-tie"></i> Perfil
                                  profesional:
                                </h4>
                                <hr class="hr-usco-vt" />
                                <br />
                                <p class="p-2 h5">
                                  {{ listado.sintesis }}
                                </p>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle
                            ><i class="fas fa-list-ul"></i> Logros
                            Académicos</ng-template
                          >
                          <ng-template ngbTabContent>
                            <div class="row p-4">
                              <div class="col">
                                <h4 class="font-usco-vt font-weight-bold">
                                  <i class="fas fa-list-ul"></i> Formación y
                                  logros académicos:
                                </h4>
                                <hr class="hr-usco-vt" />
                                <br />
                                <ul>
                                  <li
                                    class="pre code"
                                    *ngFor="
                                      let field of listado.fieldArray;
                                      let i = index
                                    "
                                  >
                                    {{ field.formacion }}
                                    <hr />
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle
                            ><i class="fab fa-readme"></i>
                            Artículos</ng-template
                          >
                          <ng-template ngbTabContent>
                            <div class="row p-4">
                              <div class="col">
                                <div class="row">
                                  <div class="col">
                                    <h4 class="font-usco-vt font-weight-bold">
                                      <i class="fab fa-readme"></i>
                                      Publicaciones
                                    </h4>
                                  </div>
                                  <div class="col">
                                    <ngb-pagination
                                      class="d-flex justify-content-end"
                                      [collectionSize]="
                                        listado.fieldArrayArticulos.length
                                      "
                                      [pageSize]="pageSizeArticulos"
                                      [(page)]="pageArticulos"
                                    ></ngb-pagination>
                                  </div>
                                </div>
                                <hr class="hr-usco-vt" />
                                <br />
                                <table class="table table-hover books">
                                  <tbody>
                                    <tr
                                      *ngFor="
                                        let fieldArticulos of listado.fieldArrayArticulos
                                          | slice
                                            : (pageArticulos - 1) *
                                                pageSizeArticulos
                                            : (pageArticulos - 1) *
                                                pageSizeArticulos +
                                                pageSizeArticulos;
                                        let i = index
                                      "
                                    >
                                      <td width="100px">
                                        <div class="img-intro-left cover">
                                          <a
                                            [routerLink]="[
                                              '/articulo-estudiante',
                                              link,
                                              (pageArticulos - 1) *
                                                pageSizeArticulos +
                                                i
                                            ]"
                                            [title]="
                                              fieldArticulos.nombreArticulo
                                            "
                                            ><img
                                              class="img"
                                              src="assets/PDF_file_icon.svg"
                                              [alt]="
                                                fieldArticulos.nombreArticulo
                                              "
                                          /></a>
                                        </div>
                                      </td>
                                      <td>
                                        <h5
                                          class="card-title font-usco-vt font-weight-bold cursor-select text-left"
                                          [routerLink]="[
                                            '/articulo-estudiante',
                                            link,
                                            (pageArticulos - 1) *
                                              pageSizeArticulos +
                                              i
                                          ]"
                                        >
                                          {{
                                            (pageArticulos - 1) *
                                              pageSizeArticulos +
                                              (i + 1)
                                          }}.
                                          {{ fieldArticulos.nombreArticulo }}
                                        </h5>
                                        <div>
                                          <strong
                                            ><i class="fas fa-users"></i>
                                            Autores:
                                          </strong>
                                          <a
                                            [href]="
                                              fieldArticulos.enlace
                                                | domseguro
                                                  : 'https://drive.google.com/file/d/'
                                            "
                                            target="_blank"
                                            >{{ fieldArticulos.autores }}</a
                                          >
                                        </div>
                                        <dl>
                                          <dd>
                                            <strong
                                              ><i
                                                class="fas fa-calendar-day"
                                              ></i>
                                              Año:
                                            </strong>
                                            {{
                                              fieldArticulos.anio
                                                | date : "yyyy"
                                            }}
                                          </dd>
                                          <dd>
                                            <strong
                                              ><i class="fab fa-readme"></i>
                                              Resumen:
                                            </strong>
                                            {{
                                              fieldArticulos.resumen
                                                | slice : 0 : 280
                                            }}
                                            <a
                                              [routerLink]="[
                                                '/articulo-estudiante',
                                                link,
                                                (pageArticulos - 1) *
                                                  pageSizeArticulos +
                                                  i
                                              ]"
                                              style="color: #8f141b"
                                              >... Ver más</a
                                            >
                                          </dd>
                                        </dl>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <hr />
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle
                            ><i class="fas fa-atom"></i> CVLAC</ng-template
                          >
                          <ng-template ngbTabContent>
                            <div class="row p-4">
                              <div class="col">
                                <h4 class="font-usco-vt font-weight-bold">
                                  <i class="fas fa-atom"></i> Minciencias
                                </h4>
                                <hr class="hr-usco-vt" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col" id="wrap">
                                <iframe
                                  id="scaled-frame"
                                  sandbox
                                  allowfullscreen
                                  width="100%"
                                  height="500"
                                  [src]="
                                    listado.cvlac
                                      | domseguro
                                        : 'https://scienti.minciencias.gov.co/cvlac/visualizador/'
                                  "
                                ></iframe>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                          <ng-template ngbTabTitle
                            ><i class="fas fa-atlas"></i> ORCID</ng-template
                          >
                          <ng-template ngbTabContent>
                            <div class="row p-4">
                              <div class="col">
                                <h4 class="font-usco-vt font-weight-bold">
                                  <i class="fas fa-atlas"></i> Minciencias
                                </h4>
                                <hr class="hr-usco-vt" />
                                <br />
                                <a class="h2 m-2" [href]="listado.orcid"
                                  ><i class="fas fa-link"></i>
                                  {{ listado.orcid }}</a
                                >
                              </div>
                            </div>
                          </ng-template>
                        </ngb-tab>
                      </ngb-tabset>
                    </div>
                  </div>
                  <div class="row" *ngIf="auth.user | async">
                    <div class="col text-right">
                      <button class="btn btn-usco-vt m-2" (click)="nav()">
                        <i class="fas fa-pencil-alt"></i> Editar
                      </button>
                      <button
                        class="btn btn-usco-vt m-2"
                        (click)="borrarPlantel()"
                      >
                        <i class="fas fa-trash-alt"></i> Borrar
                      </button>
                    </div>
                  </div>
                  <div>
                    <div class="row no-print">
                      <ng-template #confirmar let-modal>
                        <div class="modal-header bgrojoycafe">
                          <h4 class="modal-title">Confirmar acción</h4>
                          <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            (click)="modal.dismiss('Cross click')"
                          >
                            <i class="fas fa-times" style="color: white"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div
                            class="alert alert-warning text-center font-weight-bold"
                            role="alert"
                          >
                            Está a punto de guardar. <br />
                            ¿Desea continuar con la acción?
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btnColorFacultadSalud"
                            ngbAutofocus
                            (click)="guardar()"
                          >
                            Aceptar
                          </button>
                          <button
                            type="button"
                            class="btn btn-usco-vt"
                            (click)="modal.close('Close click')"
                          >
                            Cancelar
                          </button>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row no-print">
                <div class="col">
                  <!-- <button
                    class="btn btn-usco-vt m-2"
                    printSectionId="print-section"
                    [useExistingCss]="true"
                    printTitle="Perfil {{ listado.nombre }}"
                    ngxPrint
                  >
                    <i class="fas fa-print"></i> Imprimir
                  </button> -->
                  <!-- <button
                    class="btn btn-usco-vt"
                    [routerLink]="['/estudiantes']"
                  >
                    <i class="fas fa-arrow-left"></i> Regresar
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row fondodivCenter shadow" style="margin-top: 20px">
        <div class="col">
          <div class="row">
            <div class="col">
              <h3
                [routerLink]="['/estudiantes']"
                class="font-usco-vt font-weight-bold cursor-select"
              >
                <i class="fas fa-users"></i> Nuestros Estudiantes
              </h3>
              <br />
            </div>
            <div class="col text-rigth">
              <ngb-pagination
                class="d-flex justify-content-end"
                [collectionSize]="(listados | keysfirebase).length"
                [pageSize]="pageSize"
                [(page)]="page"
              ></ngb-pagination>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <section id="team" class="pb-5">
                <div class="row">
                  <!-- Team member -->
                  <div
                    class="col-xs-12 col-sm-6 col-md-4"
                    style="margin-bottom: 10px"
                    [routerLink]="['/estudiante', item]"
                    (click)="up()"
                    *ngFor="
                      let item of listados
                        | keysfirebase
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize;
                      let i = index
                    "
                  >
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div
                          class="frontside"
                          style="border: solid 1px #8f141b; border-radius: 2%"
                        >
                          <div class="card">
                            <div class="card-body text-center">
                              <p>
                                <img
                                  [routerLink]="['/estudiante', item]"
                                  (click)="up()"
                                  [src]="listados[item].foto"
                                  [alt]="listados[item].nombre"
                                  [title]="listados[item].nombre"
                                  class="card-img-top rounded cursor-select"
                                />
                              </p>
                              <h4 class="card-title">
                                {{ listados[item].nombre }}
                              </h4>
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div
                              class="card-body text-center mt-4 text-backside"
                            >
                              <br /><br />
                              <h4 class="card-title">
                                {{ listados[item].nombre }}
                              </h4>
                              <p class="card-text text-justify">
                                {{ listados[item].sintesis | slice : 0 : 200 }}
                                <a
                                  [routerLink]="['/estudiante', item]"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./Team member -->
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
