<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/slide-profesores.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div id="">
        <form #forma="ngForm">
          <div class="row fondodivCenter shadow" id="print-section">
            <div class="col">
              <div class="row">
                <div
                  class="col-md-4"
                  style="
                    background-color: #8f141b;
                    padding: 20px;
                    border-radius: 10px 10px 10px 10px;
                    margin-bottom: 20px;
                  "
                >
                  <h4 class="text-left text-white">
                    <i class="fas fa-camera"></i> Foto de perfil
                  </h4>
                  <img
                    [src]="plantelProfesor.foto"
                    [alt]="plantelProfesor.nombre"
                    [title]="plantelProfesor.nombre"
                    class="rounded mx-auto d-block"
                    style="width: 100%; border: solid 5px white"
                  />
                  <br />
                  <h6
                    class="text-center no-print"
                    style="
                      background-color: #b15b60;
                      color: white;
                      padding: 10px;
                      border-radius: 10px;
                    "
                  >
                    <a
                      style="color: white"
                      href="http://wsp.presidencia.gov.co/Normativa/Leyes/Documents/LEY%201712%20DEL%2006%20DE%20MARZO%20DE%202014.pdf"
                      target="_blank"
                      >Ver Ley de Transparencia y acceso a la información</a
                    >
                  </h6>
                </div>
                <div class="col-md-8 text-justify" style="margin-bottom: 20px">
                  <div
                    style="
                      background-color: #8f141b;
                      color: white;
                      padding: 20px;
                      border-radius: 10px 10px 0px 0px;
                    "
                  >
                    <h3>
                      <i class="fas fa-user-circle"></i>
                      {{ plantelProfesor.nombre }}
                    </h3>
                    <h5>Docente</h5>
                    <h6>Universidad Surcolombiana</h6>
                  </div>
                  <div
                    style="
                      background-color: #edeff0;
                      padding: 20px;
                      border-radius: 0px 0px 10px 10px;
                      color: #1e262b;
                    "
                  >
                    <h5>
                      <i class="fas fa-user-tie"></i> Resumen perfil
                      profesional:
                    </h5>
                    <p class="m-4">
                      {{ plantelProfesor.sintesis }}
                    </p>
                    <br />
                    <h5>
                      <i class="fas fa-list-ul"></i> Formación y logros
                      académicos:
                    </h5>
                    <ul>
                      <li
                        *ngFor="
                          let field of plantelProfesor.fieldArray;
                          let i = index
                        "
                      >
                        <p class="pre text-justify">
                          {{ field.formacion }}
                        </p>
                      </li>
                    </ul>
                    <br />
                    <div class="row">
                      <div class="col">
                        <h5>
                          <i class="fas fa-envelope"></i>
                          {{ plantelProfesor.correo }}
                        </h5>
                      </div>
                    </div>
                    <br />
                    <div class="row no-print">
                      <div class="col m-3">
                        <a
                          [href]="plantelProfesor.cvlac"
                          target="blank_"
                          class="btn navlinkinSolid btn-lg btn-block m-3"
                          ><i class="fas fa-atom"></i> CvLAC</a
                        >
                      </div>
                      <div class="col m-3">
                        <a
                          style="margin-left: 10px"
                          [href]="plantelProfesor.orcid"
                          target="blank_"
                          class="btn navlinkinSolid btn-lg btn-block m-3"
                          ><i class="fas fa-atlas"></i> ORCID</a
                        >
                      </div>
                      <ng-template #confirmar let-modal>
                        <div class="modal-header bgrojoycafe">
                          <h4 class="modal-title">Confirmar acción</h4>
                          <button
                            type="button"
                            class="close"
                            aria-label="Close"
                            (click)="modal.dismiss('Cross click')"
                          >
                            <i class="fas fa-times" style="color: white"></i>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div
                            class="alert alert-warning text-center font-weight-bold"
                            role="alert"
                          >
                            Está a punto de guardar el evento. <br />
                            ¿Desea continuar con la acción?
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btnColorFacultadSalud"
                            ngbAutofocus
                            (click)="guardar()"
                          >
                            Aceptar
                          </button>
                          <button
                            type="button"
                            class="btn navlinkinSolid"
                            (click)="modal.close('Close click')"
                          >
                            Cancelar
                          </button>
                        </div>
                      </ng-template>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
              <hr />
              <div class="row no-print">
                <div class="col">
                  <button
                    class="btn navlinkinSolid"
                    printSectionId="print-section"
                    [useExistingCss]="true"
                    printTitle="Perfil {{ plantelProfesor.nombre }}"
                    ngxPrint
                  >
                    <i class="fas fa-print"></i> Imprimir
                  </button>
                  <button
                    class="btn navlinkinSolid m-1"
                    [routerLink]="['/docentes']"
                  >
                    <i class="fas fa-sign-out-alt"></i> Regresar
                  </button>
                </div>
                <div class="col text-right" *ngIf="auth.user | async">
                  <button
                    class="btn navlinkinSolid m-2"
                    [routerLink]="['/admi_plantel', 'nuevo']"
                  >
                    <i class="fas fa-plus-circle"></i> Agregar nuevo Profesor
                  </button>
                  <button class="btn navlinkinSolid m-2" (click)="nav()">
                    <i class="fas fa-user-edit"></i> Editar
                  </button>
                  <button
                    class="btn navlinkinSolid m-2"
                    (click)="borrarPlantel()"
                  >
                    <i class="fas fa-user-edit"></i> Borrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row fondodivCenter shadow" style="margin-top: 20px">
        <div class="col">
          <div class="row">
            <div class="col">
              <h3
                [routerLink]="['/docentes']"
                class="titleInstRed cursorSelect"
              >
                <i class="fas fa-users"></i> Equipo Docente del Programa
              </h3>
              <br />
            </div>
            <div class="col text-rigth">
              <ngb-pagination
                class="d-flex justify-content-end"
                [collectionSize]="(plantelProfesores | keysfirebase).length"
                [pageSize]="pageSize"
                [(page)]="page"
              ></ngb-pagination>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <section id="team" class="pb-5">
                <div class="row">
                  <!-- Team member -->
                  <div
                    class="col-xs-12 col-sm-6 col-md-4"
                    style="margin-bottom: 10px"
                    [routerLink]="['/docente', item]"
                    (click)="up()"
                    *ngFor="
                      let item of plantelProfesores
                        | keysfirebase
                        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
                      let i = index
                    "
                  >
                    <div class="image-flip">
                      <div class="mainflip flip-0">
                        <div
                          class="frontside"
                          style="border: solid 1px #8f141b; border-radius: 2%"
                        >
                          <div class="card">
                            <div class="card-body text-center">
                              <p>
                                <img
                                  [routerLink]="['/docente', item]"
                                  (click)="up()"
                                  [src]="plantelProfesores[item].foto"
                                  [alt]="plantelProfesores[item].nombre"
                                  [title]="plantelProfesores[item].nombre"
                                  class="card-img-top rounded cursorSelect"
                                />
                              </p>
                              <h4 class="card-title">
                                {{ plantelProfesores[item].nombre }}
                              </h4>
                            </div>
                          </div>
                        </div>
                        <div class="backside">
                          <div class="card">
                            <div
                              class="card-body text-center mt-4 text-backside"
                            >
                              <br /><br />
                              <h4 class="card-title">
                                {{ plantelProfesores[item].nombre }}
                              </h4>
                              <p class="card-text text-justify">
                                {{
                                  plantelProfesores[item].sintesis
                                    | slice: 0:200
                                }}
                                <a
                                  [routerLink]="['/docente', item]"
                                  style="color: #8f141b; font-size: 10px"
                                  >... Ver más</a
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ./Team member -->
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
