<div class="wrapper fadeIn fast">
  <div>
    <img src="assets/carrusel0.png" class="d-block w-100" style="height: 300px;" alt="Responsive image">
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <h3 class="titleInstRed">Competencias</h3>
          <hr class="lineInstRed" /><br>
          <p>
            Con el doctorado en Ciencias de la Salud se busca que quienes
            accedan a la formación de este nivel desarrollen las siguientes
            competencias
          </p>
          <h4 class="titleInstRed">Del Ser</h4>
          <p>
            Fortalecer el desarrollo de una persona autónoma en la vida
            personal, social, profesional e investigativa con acento
            interdisciplinar, intercultural e intersectorial.
          </p>
          <h4 class="titleInstRed">Del Saber</h4>
          <p>
            Comprender las realidades dinámicas del contexto de las Ciencias de
            la Salud en los aspectos económico, político, social, ambiental y
            cultural. Apropiar fundamentos epistemológicos, enfoques y diseños
            de investigación, lo mismo que herramientas para la gestión y
            divulgación del conocimiento científico en Ciencias de la Salud.
            Interpretar referentes teóricos y prácticos para la formulación y
            evaluación de políticas públicas en ciencias de la salud. Entender
            la aplicabilidad de la pedagogía para la enseñanza de la
            investigación científica en Ciencias de la Salud.
          </p>
          <h4 class="titleInstRed">Del Saber Hacer</h4>
          <p>
            Diseñar, gestionar, ejecutar y divulgar proyectos y productos de
            investigación científica que generen conocimiento nuevo en Ciencias
            de la Salud. Interactuar con equipos interdisciplinarios e
            intersectoriales; redes y grupos nacionales e internacionales de
            investigación científica; con entidades del Estado y del sector
            privado en lo relacionado con investigación en ciencias de la salud.
            Formular y evaluar políticas públicas en ciencias de la salud.
            Participar en la formación del talento humano, principalmente en lo
            relacionado con la investigación científica en Ciencias de la Salud.
          </p>
          <hr>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed">Infórmate</h3>
          <hr class="lineInstRed" /><br>
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="100%" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
