<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/slide-publicacion-profesores.jpg"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div
        class="col-sm-8 shadow text-justify fondodivleft font-usco-gr pt-4 pb-4"
      >
        <div id="print-section">
          <h3 class="titleInstRed">
            Articulos y Publicaciones Profesores - {{ sortData?.length }}
          </h3>
          <hr class="lineInstRed" />
          <br />
          <p>
            La siguiente lista incluye los articulos publicados por los
            profesores que se encuentran en el Doctorado en Ciencias de la Salud
            de la Universidad Surcolombiana.
          </p>
          <div class="container">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control shadow"
                style="border-radius: 50px 0px 0px 50px"
                name="buscarEvento"
                [(ngModel)]="filterpost"
                placeholder="Digite palabras claves para buscar..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-usco-vt shadow"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
          <br />
          <!---
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="profesores.length"
            [pageSize]="pageSize"
            [(page)]="page"
          ></ngb-pagination>
          <div
            *ngFor="
              let profesor of profesores
                | slice
                  : (page - 1) * pageSize
                  : (page - 1) * pageSize + pageSize;
              let i = index
            "
            style="margin: 0"
          >
            <div class="row">
              <div class="col text-justify">
                <table class="table table-hover books">
                  <tbody
                    *ngFor="
                      let fieldArticulos of profesor.fieldArrayArticulos;
                      let i = index
                    "
                  >
                    <tr *ngIf="fieldArticulos.nombreArticulo != indicador">
                      <td width="100px">
                        <div class="img-intro-left cover">
                          <a
                            [routerLink]="[
                              '/articulo_docente',
                              profesor.key,
                              i
                            ]"
                            [title]="fieldArticulos.nombreArticulo"
                            ><img
                              class="img-polaroid"
                              src="assets/PDF_file_icon.svg"
                              [alt]="fieldArticulos.nombreArticulo"
                          /></a>
                        </div>
                      </td>
                      <td>
                        <h5
                          class="
                            card-title
                            font-usco-vt
                            cursor-select
                            text-left
                          "
                          [routerLink]="[
                            '/articulo_docente',
                            profesor.key,
                            i
                          ]"
                        >
                          {{ fieldArticulos.nombreArticulo }}
                        </h5>
                        <div>
                          <strong
                            ><i class="fas fa-users"></i> Autores:
                          </strong>
                          <a
                            [href]="
                              fieldArticulos.enlace
                                | domseguro
                                  : 'https://drive.google.com/file/d/'
                            "
                            target="_blank"
                            >{{ fieldArticulos.autores }}</a
                          >
                        </div>
                        <dl>
                          <dd>
                            <strong
                              ><i class="fas fa-calendar-day"></i> Año:
                            </strong>
                            {{ fieldArticulos.anio | date: "yyyy" }}
                          </dd>
                          <dd>
                            <strong
                              ><i class="fab fa-readme"></i> Resumen:
                            </strong>
                            {{ fieldArticulos.resumen | slice: 0:280 }}
                            <a
                              [routerLink]="[
                                '/articulo_docente',
                                profesor.key,
                                i
                              ]"
                              routerLinkActive="router-link-active"
                              style="color: #8f141b"
                              >... Ver más</a
                            >
                          </dd>
                        </dl>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br />
          </div>
        -->
          <ngb-pagination
            class="d-flex justify-content-start"
            [collectionSize]="
              (sortData | filtroarticulosprofesores : filterpost).length
            "
            [pageSize]="pageSizeArticulosProfesores"
            [(page)]="pageArticulosProfesores"
          ></ngb-pagination>
          <div
            *ngFor="
              let articulo of sortData
                | filtroarticulosprofesores : filterpost
                | slice
                  : (pageArticulosProfesores - 1) * pageSizeArticulosProfesores
                  : (pageArticulosProfesores - 1) *
                      pageSizeArticulosProfesores +
                      pageSizeArticulosProfesores;
              let i = index
            "
            style="margin: 0"
          >
            <div class="row">
              <div class="col text-justify">
                <table class="table table-hover books">
                  <tbody>
                    <tr>
                      <td width="100px">
                        <div class="img-intro-left cover">
                          <a
                            [routerLink]="['/articulo_docente', articulo.key]"
                            [title]="articulo.nombreArticulo"
                            ><img
                              class="img"
                              src="assets/PDF_file_icon.svg"
                              [alt]="articulo.nombreArticulo"
                          /></a>
                        </div>
                      </td>
                      <td>
                        <h5
                          class="card-title font-usco-vt font-weight-bold cursor-select text-left"
                          [routerLink]="['/articulo_docente', articulo.key]"
                        >
                          {{ articulo.nombreArticulo }}
                        </h5>
                        <div>
                          <strong
                            ><i class="fas fa-users"></i> Autores:
                          </strong>
                          <a
                            [href]="
                              articulo.enlace
                                | domseguro : 'https://drive.google.com/file/d/'
                            "
                            target="_blank"
                            >{{ articulo.autores }}</a
                          >
                        </div>
                        <dl>
                          <dd>
                            <strong
                              ><i class="fas fa-calendar-day"></i> Año:
                            </strong>
                            {{ articulo.anio | date : "yyyy" }}
                          </dd>
                          <dd>
                            <strong
                              ><i class="fab fa-readme"></i> Resumen:
                            </strong>
                            {{ articulo.resumen | slice : 0 : 280 }}
                            <a
                              [routerLink]="['/articulo_docente', articulo.key]"
                              routerLinkActive="router-link-active"
                              style="color: #8f141b"
                              >... Ver más</a
                            >
                          </dd>
                        </dl>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="
              (sortData | filtroarticulosprofesores : filterpost).length
            "
            [pageSize]="pageSizeArticulosProfesores"
            [(page)]="pageArticulosProfesores"
          ></ngb-pagination>
          <hr />
          <div class="row">
            <div class="col">
              <button
                class="btn btn-usco-vt"
                printSectionId="print-section"
                [useExistingCss]="true"
                printTitle="Plan de estudios Doctorado en Ciencias de la Salud"
                ngxPrint
              >
                <i class="fas fa-print"></i> Imprimir
              </button>
            </div>
            <!--<div class="col text-right">
              <button
                *ngIf="auth.user | async"
                class="btn btn-usco-vt"
                [routerLink]="['/admi_articulosProfesores', item]"
              >
                <i class="fas fa-pencil-alt"></i> Editar
              </button>
            </div>-->
          </div>
        </div>
      </div>
      <div class="col-sm-auto fondodivright shadow pt-4 pb-4">
        <h3 class="titleInstRed">Infórmate</h3>
        <hr class="lineInstRed" />
        <br />
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=1800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
          width="100%"
          height="1800"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowTransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
  </div>
</div>
