<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/slide-formacion-alta-calidad.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-sm-8 shadow fondodivleft">
        <div id="print-section">
          <div class="row mt-4">
            <div class="col">
              <h3 class="titleInstRed">
                Organigrama Universidad Surcolombiana
              </h3>
              <hr class="lineInstRed" />
              <br /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img
                src="assets/organigrama1.jpg"
                class="rounded img-fluid"
              /><br /><br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3 class="titleInstRed">
                Estructura organizativa del Programa de Doctorado en Ciencias de
                la Salud
              </h3>
              <hr class="lineInstRed" />
              <br /><br />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <img src="assets/organigrama2.jpg" class="rounded img-fluid" />
            </div>
          </div>
        </div>
        <!--  <div class="row">
          <div class="col">
            <button
              class="btn btn-usco-vt"
              printSectionId="print-section"
              [useExistingCss]="true"
              printTitle="Organigrama Universidad Surcolombiana"
              ngxPrint
            >
              <i class="fas fa-print"></i> Imprimir
            </button>
          </div>
        </div> -->
      </div>
      <div class="col-sm-auto fondodivright shadow">
        <div class="row mt-4">
          <div class="col">
            <h3 class="titleInstRed">Universidad</h3>
            <hr class="lineInstRed" />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
              width="100%"
              height="400"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col">
            <h3 class="titleInstRed">Facultad de Salud</h3>
            <hr class="lineInstRed" />
            <br />
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FFacSaludUsco&tabs=timeline&width=300&height=400&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId"
              width="100%"
              height="400"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
