<div class="wrapper fadeIn fast">
  <div>
    <div>
      <div class="container" style="padding-top: 30px; padding-bottom: 30px">
        <div class="row">
          <div class="col-sm shadow text-justify fondodivleft shadow grayinst">
            <h3 class="titleInstRed">
              Formulario para administrar el Plan de Estudio
            </h3>
            <hr class="lineInstRed" />
            <br />
            <form #forma="ngForm">
              <!--NUEVA TABLA-->
              <table class="table table-bordered parinst">
                <thead class="tablatit text-center">
                  <tr class="white">
                    <th style="vertical-align: middle" scope="col">CURSOS</th>
                    <th style="vertical-align: middle" scope="col">CRÉDITOS</th>
                    <th style="vertical-align: middle" scope="col">
                      PORCENTAJE
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <b>FUNDAMENTOS TEÓRICOS DE CIENCIAS DE LA SALUD. </b
                      >(Ciencias de la Salud, Medicina Tropical, Salud de
                      Poblaciones)
                    </td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditosCasillaUno"
                        [(ngModel)]="planestudiosresumen.creditoCasillaUno"
                      />
                    </td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="text"
                        name="porcentajeCasillaUno"
                        [(ngModel)]="planestudiosresumen.porcentajeCasillaUno"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td rowspan="2">
                      <b>INVESTIGACIÓN</b><br />
                      Metodología de la Investigación en CS
                    </td>
                    <td rowspan="2" class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditosCasillaDos"
                        [(ngModel)]="planestudiosresumen.creditoCasillaDos"
                      />
                    </td>
                    <td
                      rowspan="9"
                      style="vertical-align: middle"
                      class="text-center"
                    >
                      <input
                        class="form-control inputTable"
                        type="text"
                        name="porcentajeCasillaDos"
                        [(ngModel)]="planestudiosresumen.porcentajeCasillaDos"
                      />
                    </td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td>Epistemología de la Salud</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaTres"
                        [(ngModel)]="planestudiosresumen.creditoCasillaTres"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Proyecto Tesis I</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaCuatro"
                        [(ngModel)]="planestudiosresumen.creditoCasillaCuatro"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Proyecto de Tesis II</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaCinco"
                        [(ngModel)]="planestudiosresumen.creditoCasillaCinco"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Tesis</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaSeis"
                        [(ngModel)]="planestudiosresumen.creditoCasillaSeis"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Pasantía internacional</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaSiete"
                        [(ngModel)]="planestudiosresumen.creditoCasillaSiete"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Socialización productos Tesis</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaOcho"
                        [(ngModel)]="planestudiosresumen.creditoCasillaOcho"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>Redacción y publicación científica</td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaNueve"
                        [(ngModel)]="planestudiosresumen.creditoCasillaNueve"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><b>COMPONENTES FLEXIBLES</b></td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaDiez"
                        [(ngModel)]="planestudiosresumen.creditoCasillaDiez"
                      />
                    </td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="text"
                        name="porcentajeCasillaTres"
                        [(ngModel)]="planestudiosresumen.porcentajeCasillaTres"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td><b>TOTAL</b></td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="number"
                        name="creditoCasillaTotal"
                        [(ngModel)]="planestudiosresumen.creditoCasillaTotal"
                      />
                    </td>
                    <td class="text-center">
                      <input
                        class="form-control inputTable"
                        type="text"
                        name="porcentajeCasillaTotal"
                        [(ngModel)]="planestudiosresumen.porcentajeCasillaTotal"
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
              <!--<br /><br />
              ANTIGUA TABLA
              <table class="table table-bordered parinst text-center">
                <thead class="tablatit">
                  <tr class="white">
                    <th style="vertical-align: middle" scope="col">
                      Asignatura
                    </th>
                    <th style="vertical-align: middle" scope="col">Créditos</th>
                    <th style="vertical-align: middle" scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let field of planEstudio.fieldArray; let i = index"
                  >
                    <td>
                      <input
                        [(ngModel)]="field.asignatura"
                        class="form-control inputTable"
                        type="text"
                        name="{{ field.asignatura }}"
                      />
                    </td>
                    <td>
                      <input
                        [(ngModel)]="field.creditos"
                        class="form-control inputTable"
                        type="number"
                        name="{{ field.creditos }}"
                      />
                    </td>
                    <td>
                      <button
                        class="btn btn-default colorRedInst"
                        type="button"
                        (click)="deleteFieldValue(i)"
                        placement="top"
                        ngbTooltip="Borrar"
                      >
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input
                        class="form-control inputTable"
                        type="text"
                        id="newAttributeAsignatura"
                        [(ngModel)]="newAttribute.asignatura"
                        name="newAttributeAsignatura"
                      />
                    </td>
                    <td>
                      <input
                        class="form-control inputTable"
                        type="number"
                        id="newAttributeCreditos"
                        [(ngModel)]="newAttribute.creditos"
                        name="newAttributeCreditos"
                      />
                    </td>
                    <td>
                      <button
                        class="btn btn-default colorRedInst"
                        type="button"
                        (click)="addFieldValue()"
                        placement="top"
                        ngbTooltip="Agregar"
                      >
                        <i class="fas fa-plus-circle"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              -->
              <button
                class="btn navlinkinSolid m-1"
                (click)="openModal(confirmar)"
              >
                <i class="far fa-save"></i> Guardar
              </button>
              <button
                class="btn navlinkinSolid m-1"
                [routerLink]="['/plandeestudios']"
              >
                <i class="fas fa-sign-out-alt"></i> Volver
              </button>
              <ng-template #confirmar let-modal>
                <div class="modal-header bgrojoycafe">
                  <h4 class="modal-title">Confirmar acción</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <i class="fas fa-times" style="color: white"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div
                    class="alert alert-warning text-center font-weight-bold"
                    role="alert"
                  >
                    Está a punto de guardar. ¿Continuar con la acción?
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btnColorFacultadSalud"
                    ngbAutofocus
                    (click)="guardarResumen()"
                  >
                    Aceptar
                  </button>
                  <button
                    type="button"
                    class="btn navlinkinSolid"
                    (click)="modal.close('Close click')"
                  >
                    Cancelar
                  </button>
                </div>
              </ng-template>
              <div
                *ngIf="error != false"
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <strong>{{ passError }}</strong>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
