<div class="wrapper">
  <!-- INICIO CARRUSEL IMAGENES -->
  <div
    id="carouselExampleFade"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <div class="carousel-inner text-center">
      <div
        [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
        *ngFor="let item of carrusel | keysfirebase | listinvert; let i = index"
      >
        <a [href]="carrusel[item].urlInfo" target="_blank"
          ><img
            class="d-block w-100 cursorSelect"
            [src]="carrusel[item].urlImg"
            [alt]="carrusel[item].titulo"
            [title]="carrusel[item].titulo"
        /></a>
        <div class="container">
          <button
            *ngIf="auth.user | async"
            class="
              btn
              btnColorFacultadSalud
              m-2
              btn-lg btn-block
              carousel-caption
            "
            [routerLink]="['/admi_carrusel']"
          >
            <i class="fas fa-pencil-alt"></i> Editar
          </button>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleFade"
      role="button"
      data-slide="prev"
    >
      <i class="fas fa-chevron-circle-left fa-3x"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleFade"
      role="button"
      data-slide="next"
    >
      <i class="fas fa-chevron-circle-right fa-3x"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- FIN CARRUSEL IMAGENES -->
  <br />
  <div class="container fadeIn fast" style="margin-top: 20px">
    <div class="row">
      <!-- INICIO CONTENIDO PRIMERA COLUMNA IZQUIERDA -->
      <div class="col fondodivleft shadow">
        <div class="row">
          <div class="col">
            <h3 class="titleInstRed">
              <i class="fas fa-book-open"></i> Denominación del programa
            </h3>
            <hr class="lineInstRed" />
            <br />
            <ngb-tabset
              [justify]="currentJustify"
              class="tabset1"
              *ngFor="let den of denominacion | keysfirebase"
            >
              <button
                *ngIf="auth.user | async"
                class="btn navlinkinSolid m-2 btn-lg btn-block"
                [routerLink]="['/admi_denominacion', den]"
              >
                <i class="fas fa-pencil-alt"></i> Editar
              </button>
              <ngb-tab>
                <ng-template ngbTabTitle
                  ><i class="fas fa-list-ul"></i> Programa</ng-template
                >
                <ng-template ngbTabContent>
                  <div class="justify-content-center m-sm-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <td>
                            <span class="redinst">Nombre del programa:</span>
                          </td>
                          <td style="width: 60%">
                            <span class="grayinst">
                              Doctorado en Ciencias de la Salud</span
                            >
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <span class="redinst">Título a otorgar:</span>
                          </td>
                          <td style="width: 60%">
                            <span class="grayinst">
                              {{ denominacion[den].tituloOtorgar }}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="redinst">Registro Calificado:</span>
                          </td>
                          <td>
                            <a
                              class="grayinst"
                              target="_blank"
                              [href]="denominacion[den].registroCalificadoUrl"
                            >
                              {{ denominacion[den].registroCalificado }}</a
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="redinst"
                              >Periodicidad de admisión:</span
                            >
                          </td>
                          <td>
                            <span class="grayinst">
                              {{ denominacion[den].perAdmision }}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="redinst">Número de créditos:</span>
                          </td>
                          <td>
                            <span class="grayinst">
                              {{ denominacion[den].numCreditos }}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td><span class="redinst">Duración:</span></td>
                          <td>
                            <span class="grayinst">
                              {{ denominacion[den].duracion }}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="redinst">Costo de matrícula:</span>
                          </td>
                          <td>
                            <span class="grayinst">
                              {{ denominacion[den].costoMatricula }}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="redinst">Cupo:</span>
                          </td>
                          <td>
                            <span class="grayinst">
                              {{ denominacion[den].cupo }}</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <button
                    *ngIf="auth.user | async"
                    class="btn navlinkinSolid m-2 btn-lg btn-block"
                    [routerLink]="['/admi_denominacion', den]"
                  >
                    <i class="fas fa-pencil-alt"></i> Editar
                  </button>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle
                  ><i class="fas fa-flag"></i> Misión</ng-template
                >
                <ng-template ngbTabContent>
                  <p style="padding: 20px" class="text-justify grayinst">
                    {{ denominacion[den].mision }}
                  </p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle
                  ><i class="far fa-eye"></i> Visión</ng-template
                >
                <ng-template ngbTabContent>
                  <p style="padding: 20px" class="text-justify grayinst">
                    {{ denominacion[den].vision }}
                  </p>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle
                  ><i class="fas fa-user-md"></i> Propósito</ng-template
                >
                <ng-template
                  ngbTabContent
                  *ngFor="let den of denominacion | keysfirebase"
                >
                  <p style="padding: 20px" class="text-justify grayinst">
                    {{ denominacion[den].proposito }}
                  </p>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
      <!-- FIN CONTENIDO PRIMERA COLUMNA IZQUIERDA -->
      <!-- INICIO CONTENIDO PRIMERA COLUMNA DERECHA -->
      <div class="col fondodivright shadow">
        <h3
          [routerLink]="['/agendaPrograma']"
          class="titleInstRed cursorSelect"
        >
          <i class="far fa-edit"></i> Agéndate
        </h3>
        <hr class="lineInstRed" />
        <br />
        <div class="row">
          <div class="col">
            <p
              class="grayinst font-weight-bold cursorSelect"
              [routerLink]="['/agendaPrograma']"
            >
              <small
                ><i class="fas fa-newspaper"></i> Actividades de Programa</small
              >
            </p>
            <div
              id="carouselExampleControlsPrograma"
              class="carousel slide"
              data-ride="carousel"
              style="width: 100%"
            >
              <div class="carousel-inner">
                <div
                  [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                  *ngFor="let evento of sortDataEventoPrograma; let i = index"
                >
                  <div class="card-deck">
                    <div class="card shadow">
                      <img
                        [src]="evento.img"
                        class="card-img-top cursorSelect"
                        [routerLink]="['/eventoPrograma', evento.key]"
                        [alt]="evento.titulo"
                        [title]="evento.titulo"
                      />
                      <div class="card-body">
                        <h4
                          [routerLink]="['/eventoPrograma', evento.key]"
                          class="subTituloRojoInstitucional cursorSelect"
                        >
                          {{ evento.titulo }}
                        </h4>
                        <small class="card-title subTituloRojoInstitucional">
                          <i class="far fa-calendar-alt"></i>
                          {{
                            evento.fechaEvento | date: "fullDate" | titlecase
                          }}
                        </small>
                        <p class="card-text grayinst">
                          {{ evento.resenia | slice: 0:80 }}...
                        </p>
                        <a
                          [href]="evento.url"
                          target="_blank"
                          style="color: gray"
                          ><b> LEER MÁS... </b></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControlsPrograma"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControlsPrograma"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col">
            <p
              class="grayinst font-weight-bold cursorSelect"
              [routerLink]="['/agendaInstitucional']"
            >
              <small
                ><i class="fas fa-rss-square"></i> Actividades
                Institucionales</small
              >
            </p>
            <div
              id="carouselExampleControlsInstitucional"
              class="carousel slide"
              data-ride="carousel"
              style="width: 100%"
            >
              <div class="carousel-inner">
                <div
                  [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                  *ngFor="
                    let evento of sortDataEventoInstitucional;
                    let i = index
                  "
                >
                  <div class="card-deck">
                    <div class="card shadow">
                      <img
                        [src]="evento.img"
                        class="card-img-top cursorSelect"
                        [routerLink]="['/eventoInstitucional', evento.key]"
                        [alt]="evento.titulo"
                        [title]="evento.titulo"
                      />
                      <div class="card-body">
                        <h4
                          [routerLink]="['/eventoInstitucional', evento.key]"
                          class="subTituloRojoInstitucional cursorSelect"
                        >
                          {{ evento.titulo }}
                        </h4>
                        <small class="card-title subTituloRojoInstitucional">
                          <i class="far fa-calendar-alt"></i>
                          {{
                            evento.fechaEvento | date: "fullDate" | titlecase
                          }}
                        </small>
                        <p class="card-text grayinst">
                          {{ evento.resenia | slice: 0:80 }}...
                        </p>
                        <a
                          [href]="evento.url"
                          target="_blank"
                          style="color: gray"
                          ><b> LEER MÁS... </b></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControlsInstitucional"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControlsInstitucional"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- FIN CONTENIDO PRIMERA COLUMNA DERECHA -->
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
      <div class="col-sm-8 fondodivleft shadow">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <h3
                  [routerLink]="['/docentes']"
                  class="titleInstRed cursorSelect"
                >
                  <i class="fas fa-users"></i> Docentes del Programa
                </h3>
                <br />
              </div>
              <div class="col text-rigth">
                <ngb-pagination
                  class="d-flex justify-content-end"
                  [collectionSize]="(plantelProfesores | keysfirebase).length"
                  [pageSize]="pageSizeProfesores"
                  [(page)]="pageProfesores"
                ></ngb-pagination>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section id="team" class="pb-5">
                  <div class="row">
                    <!-- Team member -->
                    <div
                      class="col-xs-12 col-sm-6 col-md-4"
                      style="margin-bottom: 10px"
                      [routerLink]="['/docente', item]"
                      *ngFor="
                        let item of plantelProfesores
                          | keysfirebase
                          | slice
                            : (pageProfesores - 1) * pageSizeProfesores
                            : (pageProfesores - 1) * pageSizeProfesores +
                                pageSizeProfesores;
                        let i = index
                      "
                    >
                      <div class="image-flip">
                        <div class="mainflip flip-0">
                          <div
                            class="frontside"
                            style="border: solid 1px #8f141b; border-radius: 2%"
                          >
                            <div class="card">
                              <div class="card-body text-center">
                                <p>
                                  <img
                                    [routerLink]="['/docente', item]"
                                    (click)="up()"
                                    [src]="plantelProfesores[item].foto"
                                    [alt]="plantelProfesores[item].nombre"
                                    [title]="plantelProfesores[item].nombre"
                                    class="card-img-top rounded cursorSelect"
                                  />
                                </p>
                                <h4 class="card-title">
                                  {{ plantelProfesores[item].nombre }}
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="backside">
                            <div class="card">
                              <div
                                class="card-body text-center mt-4 text-backside"
                              >
                                <br /><br />
                                <h4 class="card-title">
                                  {{ plantelProfesores[item].nombre }}
                                </h4>
                                <p class="card-text text-justify">
                                  {{
                                    plantelProfesores[item].sintesis
                                      | slice: 0:200
                                  }}
                                  <a
                                    [routerLink]="['/docente', item]"
                                    style="color: #8f141b; font-size: 10px"
                                    >... Ver más</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ./Team member -->
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <h3
                  [routerLink]="['/estudiantes']"
                  class="titleInstRed cursorSelect"
                >
                  <i class="fas fa-users"></i> Nuestros Estudiantes
                </h3>
                <br />
              </div>
              <div class="col text-rigth">
                <ngb-pagination
                  class="d-flex justify-content-end"
                  [collectionSize]="(listados | keysfirebase).length"
                  [pageSize]="pageSizeEstudiantes"
                  [(page)]="pageEstudiantes"
                ></ngb-pagination>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section id="team" class="pb-5">
                  <div class="row">
                    <!-- Team member -->
                    <div
                      class="col-xs-12 col-sm-6 col-md-4"
                      [routerLink]="['/estudiante', item]"
                      *ngFor="
                        let item of listados
                          | keysfirebase
                          | slice
                            : (pageEstudiantes - 1) * pageSizeEstudiantes
                            : (pageEstudiantes - 1) * pageSizeEstudiantes +
                                pageSizeEstudiantes;
                        let i = index
                      "
                    >
                      <div class="image-flip">
                        <div class="mainflip flip-0">
                          <div
                            class="frontside"
                            style="border: solid 1px #8f141b; border-radius: 2%"
                          >
                            <div class="card">
                              <div class="card-body text-center">
                                <p>
                                  <img
                                    [routerLink]="['/estudiante', item]"
                                    (click)="up()"
                                    [src]="listados[item].foto"
                                    [alt]="listados[item].nombre"
                                    [title]="listados[item].nombre"
                                    class="card-img-top rounded cursorSelect"
                                  />
                                </p>
                                <h4 class="card-title">
                                  {{ listados[item].nombre }}
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="backside">
                            <div class="card">
                              <div
                                class="card-body text-center mt-4 text-backside"
                              >
                                <br /><br />
                                <h4 class="card-title">
                                  {{ listados[item].nombre }}
                                </h4>
                                <p class="card-text text-justify">
                                  {{ listados[item].sintesis | slice: 0:200 }}
                                  <a
                                    [routerLink]="['/estudiante', item]"
                                    style="color: #8f141b; font-size: 10px"
                                    >... Ver más</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ./Team member -->
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <h3
                  [routerLink]="['/egresados']"
                  class="titleInstRed cursorSelect"
                >
                  <i class="fas fa-users"></i> Nuestros Egresados
                </h3>
                <br />
              </div>
              <div class="col text-rigth">
                <ngb-pagination
                  class="d-flex justify-content-end"
                  [collectionSize]="(egresadosPrograma | keysfirebase).length"
                  [pageSize]="pageSizeEgresados"
                  [(page)]="pageEgresados"
                ></ngb-pagination>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section id="team" class="pb-5">
                  <div class="row">
                    <!-- Team member -->
                    <div
                      class="col-xs-12 col-sm-6 col-md-4"
                      [routerLink]="['/egresado', item]"
                      *ngFor="
                        let item of egresadosPrograma
                          | keysfirebase
                          | slice
                            : (pageEgresados - 1) * pageSizeEgresados
                            : (pageEgresados - 1) * pageSizeEgresados +
                                pageSizeEgresados;
                        let i = index
                      "
                    >
                      <div class="image-flip">
                        <div class="mainflip flip-0">
                          <div
                            class="frontside"
                            style="border: solid 1px #8f141b; border-radius: 2%"
                          >
                            <div class="card">
                              <div class="card-body text-center">
                                <p>
                                  <img
                                    [routerLink]="['/estudiante', item]"
                                    (click)="up()"
                                    [src]="egresadosPrograma[item].foto"
                                    [alt]="egresadosPrograma[item].nombre"
                                    [title]="egresadosPrograma[item].nombre"
                                    class="card-img-top rounded cursorSelect"
                                  />
                                </p>
                                <h4 class="card-title">
                                  {{ egresadosPrograma[item].nombre }}
                                </h4>
                              </div>
                            </div>
                          </div>
                          <div class="backside">
                            <div class="card">
                              <div
                                class="card-body text-center mt-4 text-backside"
                              >
                                <br /><br />
                                <h4 class="card-title">
                                  {{ egresadosPrograma[item].nombre }}
                                </h4>
                                <p class="card-text text-justify">
                                  {{
                                    egresadosPrograma[item].sintesis
                                      | slice: 0:200
                                  }}
                                  <a
                                    [routerLink]="['/egresado', item]"
                                    style="color: #8f141b; font-size: 10px"
                                    >... Ver más</a
                                  >
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ./Team member -->
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-auto fondodivright shadow">
        <div>
          <h3 class="titleInstRed">
            <i class="fas fa-rss"></i> Redes sociales
          </h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDoctoradoEnCienciasDeLaSalud&tabs=timeline&width=300&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="300"
            height="200"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
          <br />
          <h3 class="titleInstRed">
            <i class="fas fa-book-open"></i> Doctorados
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="list-group" style="width: 300px">
            <a
              href="https://www.usco.edu.co/es/estudia-en-la-usco/programas-pregrado/facultad-de-ingenieria/doctorado-en-agroindustria-y-desarrollo-agricola-sostenible/"
              target="_blank"
              type="button"
              class="list-group-item list-group-item-action navlinkinSolid"
              aria-current="true"
            >
              Doctorado en Agroindustria y Desarrollo Agrícola Sostenible
            </a>
            <a
              href="https://www.usco.edu.co/es/estudia-en-la-usco/programas-postgrado/facultad-de-educacion/doctorado-en-educacion-y-cultura-ambiental/"
              target="_blank"
              type="button"
              class="list-group-item list-group-item-action navlinkinSolid"
            >
              Doctorado en Educación y Cultura Ambiental
            </a>
          </div>
          <br />
          <hr />
          <h3 class="titleInstRed">
            <i class="far fa-calendar-alt"></i> Calendario
          </h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://calendar.google.com/calendar/embed?src=docencienciasdelasaludusco%40gmail.com&ctz=America%2FBogota"
            style="border: 0"
            width="300"
            height="400"
            frameborder="0"
            scrolling="no"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
