<div class="wrapper fadeIn fast">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div
        class="col-sm shadow text-justify fondodivleft font-usco-gr pt-4 pb-4"
      >
        <div class="row">
          <div class="col">
            <h3 class="titleInstRed">
              <i class="fas fa-scroll"></i> Formulario para administrar los
              Artículos de los profesores del Doctorado
            </h3>
          </div>
        </div>
        <hr class="lineInstRed" />
        <br />
        <form #forma="ngForm">
          <div class="row">
            <div class="col text-justify">
              <div class="row m-4">
                <div class="col">
                  <h6 class="text-left font-usco-vt font-weight-bold">
                    Nombre del artículo:
                  </h6>
                  <input
                    type="text"
                    name="nombreArticulo"
                    [(ngModel)]="articulosPro.nombreArticulo"
                    class="form-control shadow p-3"
                    placeholder="Encabezado o título del evento"
                  />
                </div>
              </div>
              <div class="row m-4">
                <div class="col">
                  <h6 class="font-usco-vt font-weight-bold text-left">
                    Autores:
                  </h6>
                  <input
                    type="text"
                    name="autores"
                    [(ngModel)]="articulosPro.autores"
                    class="form-control shadow p-3"
                  />
                </div>
                <div class="col">
                  <h6 class="font-usco-vt font-weight-bold text-left">
                    Fecha de publicación:
                  </h6>
                  <input
                    type="date"
                    name="anio"
                    [(ngModel)]="articulosPro.anio"
                    class="form-control shadow p-3"
                  />
                </div>
              </div>
              <div class="row m-4">
                <div class="col">
                  <h6 class="font-usco-vt font-weight-bold text-left">
                    Reseña:
                  </h6>
                  <textarea
                    maxlength="6500"
                    name="resumen"
                    [(ngModel)]="articulosPro.resumen"
                    class="form-control shadow p-1"
                    placeholder="Síntesis o información relavante del evento ..."
                    rows="7"
                  ></textarea>
                </div>
              </div>
              <div class="row m-4">
                <div class="col">
                  <h6 class="font-usco-vt font-weight-bold text-left">
                    Enlace del artículo:
                  </h6>
                  <input
                    name="enlace"
                    [(ngModel)]="articulosPro.enlace"
                    type="text"
                    class="form-control shadow p-3"
                    placeholder="Dirección URL para mayor información del evento o suscripción"
                  />
                </div>
                <div class="col">
                  <h6 class="font-usco-vt font-weight-bold text-left">
                    Revista:
                  </h6>
                  <input
                    name="revista"
                    [(ngModel)]="articulosPro.revista"
                    type="text"
                    class="form-control shadow p-3"
                    placeholder="Dirección URL para mayor información del evento o suscripción"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col text-left">
              <button
                class="btn btn-usco-vt ml-4"
                [routerLink]="['/articulosProfesores']"
              >
                <i class="fas fa-arrow-left"></i> Volver
              </button>
            </div>
            <div class="col text-right">
              <button
                class="btn btn-usco-vt mr-4"
                (click)="openModal(confirmar)"
              >
                <i class="far fa-save"></i> Guardar
              </button>
            </div>
          </div>
          <ng-template #confirmar let-modal>
            <div class="modal-header bg-usco-vt-d1 text-white">
              <h4 class="modal-title">Confirmar acción</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <i class="fas fa-times" style="color: white"></i>
              </button>
            </div>
            <div class="modal-body">
              <div
                class="alert alert-warning text-center font-weight-bold"
                role="alert"
              >
                ¿Desea guardar y continuar con la acción?
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-usco-fac-salud"
                ngbAutofocus
                (click)="guardar()"
              >
                Aceptar
              </button>
              <button
                type="button"
                class="btn btn-usco-vt"
                (click)="modal.close('Close click')"
              >
                Cancelar
              </button>
            </div>
          </ng-template>
          <div
            *ngIf="error != false"
            class="alert alert-danger alert-dismissible fade show"
            role="alert"
          >
            <strong>{{ passError }}</strong>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
