<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/slide-agenda-institucional.jpg"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-sm-8 shadow text-justify div-left pt-4 pb-4">
        <div class="row">
          <div class="col">
            <h3 class="font-usco-vt font-weight-bold">
              <i class="far fa-calendar-alt"></i> Agenda
            </h3>
            <hr class="hr-usco-vt" />
          </div>
          <div class="col text-right" *ngIf="auth.user | async">
            <a
              class="btn btn-usco-vt"
              [routerLink]="['/admi_agendaInstitucional', 'nuevo']"
              ><i class="fas fa-plus-circle"></i> Publicar evento</a
            >
          </div>
          <div class="col-auto">
            <button
              class="btn btn-usco-vt mr-2"
              placement="top"
              ngbTooltip="Vista en Cuadricula"
              (click)="changeGrid()"
            >
              <i class="fas fa-th"></i>
            </button>
            <button
              class="btn btn-usco-vt mr-2"
              placement="top"
              ngbTooltip="Vista en Lista"
              (click)="changeList()"
            >
              <i class="fas fa-th-list"></i>
            </button>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-7">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control shadow"
                style="border-radius: 50px 0px 0px 50px"
                name="buscarEvento"
                [(ngModel)]="filterpost"
                placeholder="Digite palabras claves para buscar..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-usco-vt shadow"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-row">
              <div class="col-auto">
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                  [(ngModel)]="filterpost"
                >
                  <option selected value="">Mes</option>
                  <option *ngFor="let m of mes" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </div>
              <div class="col-auto">
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                  [(ngModel)]="filterpost"
                >
                  <option selected value="">Año</option>
                  <option *ngFor="let a of anios" [value]="a">
                    {{ a }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="card-columns" *ngIf="grid">
          <div
            class="card shadow"
            *ngFor="
              let evento of sortData
                | filtro : filterpost
                | slice
                  : (page - 1) * pageSize
                  : (page - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <img
              [src]="evento.img"
              class="card-img-top cursor-select"
              [routerLink]="['/eventoInstitucional', evento.key]"
              [alt]="evento.titulo"
              [title]="evento.titulo"
            />
            <div class="card-body">
              <h5
                [routerLink]="['/eventoInstitucional', evento.key]"
                class="font-usco-vt font-weight-bold cursor-select text-left"
              >
                {{ evento.titulo }}
              </h5>
              <small class="card-title font-usco-vt font-weight-bold">
                <i class="far fa-calendar-alt"></i>
                {{ evento.fechaEvento | date : "fullDate" | titlecase }}
              </small>
              <p class="card-text grayinst">
                {{ evento.resenia }}
              </p>
              <a [href]="evento.url" target="_blank" style="color: gray"
                ><b> LEER MÁS... </b></a
              >
            </div>
            <div class="card-footer text-center" *ngIf="auth.user | async">
              <a
                class="btn btn-usco-vt mr-2"
                [routerLink]="['/admi_agendaInstitucional', evento.key]"
                ><i class="fas fa-pencil-alt"></i> Editar</a
              >
              <a (click)="openModal(confirmar)" class="btn btn-usco-vt m-2"
                ><i class="fas fa-trash"></i> Borrar</a
              ><br />
              <ng-template #confirmar let-modal>
                <div class="modal-header bgrojoycafe">
                  <h4 class="modal-title">Confirmar acción</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <i class="fas fa-times" style="color: white"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div
                    class="alert alert-warning text-center font-weight-bold"
                    role="alert"
                  >
                    Está a punto de borrar el evento. <br />
                    ¿Desea continuar con la acción?
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btnColorFacultadSalud"
                    ngbAutofocus
                    (click)="borrarAgenda(evento.key)"
                  >
                    Aceptar
                  </button>
                  <button
                    type="button"
                    class="btn btn-usco-vt"
                    (click)="modal.close('Close click')"
                  >
                    Cancelar
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <br />
        <div *ngIf="list">
          <div
            class="card"
            *ngFor="
              let evento of sortData
                | filtro : filterpost
                | slice
                  : (page - 1) * pageSize
                  : (page - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <div class="row">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  [src]="evento.img"
                  [routerLink]="['/eventoInstitucional', evento.key]"
                  class="rounded w-100 cursor-select"
                />
              </div>
              <div class="col-md-8 px-3" style="margin-top: 20px">
                <div class="card-block px-3">
                  <h3
                    [routerLink]="['/eventoInstitucional', evento.key]"
                    class="card-title text-left font-usco-vt font-weight-bold cursor-select"
                  >
                    {{ evento.titulo }}
                  </h3>
                  <p>
                    {{ evento.resenia | slice : 0 : 150 }}
                    <a style="color: #8f141b">... Ver más</a>
                  </p>
                  <p class="card-text font-usco-vt">
                    {{ evento.fechaEvento | date : "fullDate" | titlecase }}
                  </p>
                  <div class="row">
                    <a
                      [href]="evento.url"
                      target="_blank"
                      class="btn btn-usco-vt m-3"
                      ><i class="fas fa-info-circle"></i> Más información</a
                    >
                    <a
                      [routerLink]="['/eventoInstitucional', evento.key]"
                      class="btn btn-usco-vt m-3"
                      ><i class="fas fa-search"></i> Ver evento</a
                    >
                  </div>
                  <p class="text-right">
                    <small
                      >Publicado:
                      {{
                        evento.fechaPublicacion | date : "fullDate" | titlecase
                      }}</small
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="auth.user | async">
              <div class="col text-right">
                <a
                  class="btn btn-usco-vt m-2"
                  [routerLink]="['/admi_agendaInstitucional', evento.key]"
                  ><i class="fas fa-pencil-alt"></i> Editar</a
                >
                <a (click)="openModal(confirmar)" class="btn btn-usco-vt m-2"
                  ><i class="fas fa-trash"></i> Borrar</a
                ><br />
                <ng-template #confirmar let-modal>
                  <div class="modal-header bgrojoycafe">
                    <h4 class="modal-title">Confirmar acción</h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <i class="fas fa-times" style="color: white"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      class="alert alert-warning text-center font-weight-bold"
                      role="alert"
                    >
                      Está a punto de borrar el evento. <br />
                      ¿Desea continuar con la acción?
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btnColorFacultadSalud"
                      ngbAutofocus
                      (click)="borrarAgenda(evento.key)"
                    >
                      Aceptar
                    </button>
                    <button
                      type="button"
                      class="btn btn-usco-vt"
                      (click)="modal.close('Close click')"
                    >
                      Cancelar
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <ngb-pagination
              class="d-flex justify-content-center"
              [collectionSize]="(eventos | filtro : filterpost).length"
              [(page)]="page"
              [pageSize]="pageSize"
            ></ngb-pagination>
          </div>
        </div>
        <br />
      </div>
      <div class="col-sm-auto div-right shadow pt-4 pb-4">
        <h3 class="font-usco-vt font-weight-bold">
          <i class="far fa-calendar-alt"></i> Calendario
        </h3>
        <hr class="hr-usco-vt" />
        <br />
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FBogota&amp;src=ZG9jZW5jaWVuY2lhc2RlbGFzYWx1ZHVzY29AZ21haWwuY29t&amp;src=bDNmbXZkbXExcHYyMjJlNGIxb2o2NjV2NGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%23C0CA33&amp;color=%2333B679&amp;color=%230B8043"
          style="border: none"
          width="300"
          height="400"
          frameborder="0"
          scrolling="no"
        ></iframe
        ><br />
        <hr />
        <h3 class="font-usco-vt font-weight-bold"><i class="fas fa-rss"></i> Redes sociales</h3>
        <hr class="hr-usco-vt" />
        <br />
        <iframe
          src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDoctoradoEnCienciasDeLaSalud&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
          width="300"
          height="500"
          style="border: none; overflow: hidden"
          scrolling="no"
          frameborder="0"
          allowTransparency="true"
          allow="encrypted-media"
        ></iframe>
      </div>
    </div>
  </div>
</div>
