<div class="wrapper fadeIn fast">
  <div class="container mt-5 mb-5">
    <div class="row fondodivCenter shadow font-usco-gr pt-4 pb-4">
      <div class="col">
        <h3 class="titleInstRed">
          Formulario para administrar el Plantel de Egresados
        </h3>
        <hr class="lineInstRed" />
        <br />
        <!-- COLLAPSE START-->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5
                class="mb-0 titleInstRed text-justify"
                data-toggle="collapse"
                aria-expanded="false"
                data-target="#collapseOne"
                aria-controls="collapseOne"
              >
                Antes de subir una imágen de perfil considere lo siguiente:
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body" style="background-color: #edeff0">
                <p class="text-justify">
                  Para aplicar una configuración óptima del sitio web, siga las
                  indicaciones que se muestran en la parte inferior. Se han
                  estandarizado unas plantillas para agregar contenido de manera
                  ordenada y uniforme; los colores, logos y fuentes de texto los
                  puede encontrar en el siguiente enlace:
                  <a
                    href="https://www.usco.edu.co/imagen-institucional/"
                    class="colorRedInst"
                    target="_blank"
                    >Guía Imágen Corporativa</a
                  >
                </p>
                <ul>
                  <li>
                    Descargue la plantilla oficial para plasmar el diseño que se
                    tenga pensado
                    <a
                      href="/assets/PlantillaCarrusel.psd"
                      download
                      class="colorRedInst"
                      ><i class="far fa-file-image"></i> Plantilla Photoshop.</a
                    >
                  </li>
                  <li>
                    Descargue el programa libre y portable de PhotoShop, tiene
                    un peso aproximado de 139,2 MB. <br />Con él podrá manejar
                    la plantilla y aplicar el diseño deseado
                    <a
                      href="https://mega.nz/file/ZYI2hbCb#6amg-4tmD3GCOaNaGX1ECmw9s9-i680Ydd7aogKaOqA"
                      class="colorRedInst"
                      target="_blank"
                      ><i class="fas fa-download"></i> Programa PhotoShop.</a
                    >
                  </li>
                  <li>
                    En caso de manejar otra herramienta de edición, considerar
                    que la imágen estandar tiene las siegientes dimensiones
                    <br />[512 pixeles de ancho por 440 pixeles de alto]
                    <a
                      href="/assets/pruebaCarrusel.jpg"
                      download
                      class="colorRedInst"
                      ><i class="fas fa-expand"></i> Descargar Imágen de
                      muestra.</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--COLLAPSE END-->
      </div>
    </div>
    <form #forma="ngForm">
      <div
        class="row fondodivCenter shadow font-usco-gr pt-4 pb-4"
        id="print-section"
      >
        <div class="col">
          <div class="row">
            <div
              class="col-md-4"
              style="
                background-color: #8f141b;
                padding: 20px;
                border-radius: 10px 10px 10px 10px;
                color: #1e262b;
                margin-bottom: 20px;
              "
            >
              <h4 class="text-left text-white">
                <i class="fas fa-camera"></i> Foto de perfil:
              </h4>
              <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                <div class="row">
                  <div *ngIf="porcentaje > 1 && porcentaje < 101" class="col">
                    <ngb-progressbar
                      [showValue]="true"
                      type="danger"
                      [value]="porcentaje"
                    >
                    </ngb-progressbar
                    ><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="file-label">
                      <input
                        type="file"
                        class="custom-file-input"
                        formControlName="archivo"
                        (change)="cambioArchivo($event)"
                        id="customFileLang"
                        lang="es"
                        required
                      />
                      <span class="file-cta">
                        <span
                          class="custom-file-label text-left"
                          style="margin-left: 16px"
                          for="customFileLang"
                        >
                          {{ mensajeArchivo | slice : 0 : 20 }}
                        </span>
                      </span>
                    </label>
                    <br />
                  </div>
                  <div class="col col-lg-2 text-left">
                    <button
                      class="btn btn-danger"
                      type="submit"
                      placement="top"
                      ngbTooltip="Subir archivo"
                      [disabled]="!archivoForm.valid"
                    >
                      <i class="fas fa-upload"></i>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div
                      *ngIf="porcentaje === 100"
                      class="alert alert-success"
                      role="alert"
                    >
                      Imágen cargada exitosamente
                    </div>
                  </div>
                </div>
              </form>
              <img
                [src]="egresados.foto"
                [alt]="egresados.nombre"
                [title]="egresados.nombre"
                class="rounded mx-auto d-block"
                style="width: 100%; border: solid 5px white"
              />
              <p class="alert alert-warning text-center font-weight-bold m-3">
                Solo seleccione el perfil si el egresado no tiene foto para
                cargar.
              </p>
              <div class="m-2 p-2 text-white text-center">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="customRadio1"
                    name="customRadio"
                    (click)="imgHombre()"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="customRadio1"
                    >Perfil Masculino</label
                  >
                </div>
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="customRadio2"
                    name="customRadio"
                    (click)="imgMujer()"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="customRadio2"
                    >Perfil Femenino</label
                  >
                </div>
              </div>
              <div
                *ngIf="alertBool != false"
                class="alert alert-danger alert-dismissible fade show m-2"
                role="alert"
              >
                <strong>{{ imgError }}</strong>
              </div>
            </div>
            <div class="col-md-8 text-justify" style="margin-bottom: 20px">
              <div
                style="
                  background-color: #8f141b;
                  color: white;
                  padding: 20px;
                  border-radius: 10px 10px 0px 0px;
                "
              >
                <div class="row">
                  <div class="col">
                    <h4>
                      <i class="fas fa-user-circle"></i> Nombre del egresado:
                    </h4>
                    <input
                      type="text"
                      name="nombre"
                      [(ngModel)]="egresados.nombre"
                      class="form-control shadow p-3"
                      placeholder="Nombres y apellidos del egresado"
                    />
                  </div>
                  <div class="col">
                    <h4>
                      <i class="fas fa-id-card-alt"></i> Código del egresado:
                    </h4>
                    <input
                      type="number"
                      name="codigo"
                      [(ngModel)]="egresados.codigo"
                      class="form-control shadow p-3"
                    />
                  </div>
                </div>
              </div>
              <div
                style="
                  background-color: #edeff0;
                  padding: 20px;
                  border-radius: 0px 0px 10px 10px;
                  color: #1e262b;
                "
              >
                <h5><i class="fas fa-user-tie"></i> Síntesis:</h5>
                <textarea
                  maxlength="6500"
                  name="sintesis"
                  [(ngModel)]="egresados.sintesis"
                  class="form-control shadow p-3"
                  placeholder="Información del perfil profesional del egresado (máximo 6500 caracteres)"
                  rows="6"
                ></textarea>
                <br />
                <div class="row">
                  <div class="col">
                    <h5><i class="fas fa-envelope"></i> Email del egresado:</h5>
                    <input
                      type="mail"
                      name="correo"
                      [(ngModel)]="egresados.correo"
                      class="form-control shadow p-3"
                      placeholder="Correo institucional"
                    />
                  </div>
                  <div class="col">
                    <h5>
                      <i class="far fa-calendar-alt"></i> Fecha de ingreso:
                    </h5>
                    <input
                      type="date"
                      name="fecha"
                      [(ngModel)]="egresados.fecha"
                      class="form-control shadow p-3"
                    />
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <h5><i class="fas fa-atom"></i> Enlace del CvLAC:</h5>
                    <input
                      type="text"
                      name="cvlac"
                      [(ngModel)]="egresados.cvlac"
                      class="form-control shadow p-3"
                      placeholder="Link del perfil del CvLac"
                    />
                  </div>
                  <div class="col">
                    <h5><i class="fas fa-atlas"></i> Enlace del ORCID:</h5>
                    <input
                      type="text"
                      name="orcid"
                      [(ngModel)]="egresados.orcid"
                      class="form-control shadow p-3"
                      placeholder="Link del perfil ORCID"
                    />
                  </div>
                  <ng-template #confirmar let-modal>
                    <div class="modal-header bgrojoycafe">
                      <h4 class="modal-title">Confirmar acción</h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <i class="fas fa-times" style="color: white"></i>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div
                        class="alert alert-warning text-center font-weight-bold"
                        role="alert"
                      >
                        Está a punto de guardar los cambios realizados. <br />
                        ¿Desea continuar con la acción?
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btnColorFacultadSalud"
                        ngbAutofocus
                        (click)="guardar()"
                      >
                        Aceptar
                      </button>
                      <button
                        type="button"
                        class="btn btn-usco-vt"
                        (click)="modal.close('Close click')"
                      >
                        Cancelar
                      </button>
                    </div>
                  </ng-template>
                </div>
                <br />
                <div class="row">
                  <div class="col">
                    <h5>
                      <i class="fas fa-list-ul"></i> Formación y logros
                      académicos:
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <table class="table table-bordered parinst shadow">
                      <thead class="tablatit text-center">
                        <tr class="white">
                          <th style="vertical-align: middle" scope="col">
                            Estudios o logros
                          </th>
                          <th style="vertical-align: middle" scope="col">
                            Opciones
                          </th>
                        </tr>
                      </thead>
                      <tbody style="background-color: white">
                        <tr
                          *ngFor="
                            let field of egresados.fieldArray;
                            let i = index
                          "
                        >
                          <td class="text-justify">
                            <textarea
                              rows="5"
                              [(ngModel)]="field.formacion"
                              class="form-control inputTable"
                              type="text"
                              name="{{ field.formacion }}"
                              placeholder="Agrege los estudios realizados o logros de la carrera profesional"
                            ></textarea>
                          </td>
                          <td
                            class="text-center"
                            style="vertical-align: middle"
                          >
                            <button
                              class="btn btn-default colorRedInst"
                              type="button"
                              (click)="deleteFieldValue(i)"
                              placement="top"
                              ngbTooltip="Borrar"
                            >
                              <i class="far fa-trash-alt"></i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-justify">
                            <textarea
                              rows="5"
                              class="form-control inputTable"
                              type="text"
                              id="newAttributeFormacion"
                              [(ngModel)]="newAttribute.formacion"
                              name="newAttributeFormacion"
                              placeholder="Agrege los estudios realizados o logros de la carrera profesional"
                            >
                            </textarea>
                          </td>
                          <td
                            class="text-center"
                            style="vertical-align: middle"
                          >
                            <button
                              class="btn btn-default colorRedInst"
                              type="button"
                              (click)="addFieldValue()"
                              placement="top"
                              ngbTooltip="Agregar"
                            >
                              <i class="fas fa-plus-circle"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col text-justify"
              style="margin-bottom: 20px; padding-left: 0px"
            >
              <div
                style="
                  background-color: #edeff0;
                  padding: 20px;
                  border-radius: 0px 0px 10px 10px;
                  color: #1e262b;
                "
              >
                <div class="row">
                  <div class="col">
                    <h4 class="m-2">
                      <i class="fas fa-scroll"></i> Artíuclos publicados:
                    </h4>
                  </div>
                  <div class="col">
                    <ngb-pagination
                      class="d-flex justify-content-end"
                      [collectionSize]="egresados.fieldArrayArticulos.length"
                      [pageSize]="pageSizeArticulos"
                      [(page)]="pageArticulos"
                    ></ngb-pagination>
                  </div>
                </div>
                <!-- FORM INPUTS ARTICULOS START-->
                <div
                  *ngFor="
                    let field of egresados.fieldArrayArticulos
                      | slice
                        : (pageArticulos - 1) * pageSizeArticulos
                        : (pageArticulos - 1) * pageSizeArticulos +
                            pageSizeArticulos;
                    let i = index
                  "
                  style="
                    background-color: #cccccc;
                    padding: 30px;
                    color: #1e262b;
                  "
                >
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="text-left font-usco-vt font-weight-bold">
                        Nombre del artículo:
                      </h6>
                      <input
                        type="text"
                        name="{{ field.nombreArticulo }}"
                        [(ngModel)]="field.nombreArticulo"
                        class="form-control shadow p-3"
                        placeholder="Encabezado o título del evento"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Autores:
                      </h6>
                      <input
                        type="text"
                        name="{{ field.autores }}"
                        [(ngModel)]="field.autores"
                        class="form-control shadow p-3"
                      />
                    </div>
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Fecha de publicación:
                      </h6>
                      <input
                        type="date"
                        name="{{ field.anio }}"
                        [(ngModel)]="field.anio"
                        class="form-control shadow p-3"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Reseña:
                      </h6>
                      <textarea
                        maxlength="6500"
                        name="{{ field.resumen }}"
                        [(ngModel)]="field.resumen"
                        class="form-control shadow p-1"
                        placeholder="Síntesis o información relavante del evento ..."
                        rows="7"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Enlace del artículo:
                      </h6>
                      <input
                        name="{{ field.enlace }}"
                        [(ngModel)]="field.enlace"
                        type="text"
                        class="form-control shadow p-3 inputPaciente"
                        placeholder="Dirección URL para mayor información del evento o suscripción"
                      />
                    </div>
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Revista:
                      </h6>
                      <input
                        name="{{ field.revista }}"
                        [(ngModel)]="field.revista"
                        type="text"
                        class="form-control shadow p-3 inputPaciente"
                        placeholder="Dirección URL para mayor información del evento o suscripción"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col text-left">
                      <h4 class="font-usco-vt font-weight-bold text-left">
                        Formulario diligenciado <sup>#</sup>
                        {{ (pageArticulos - 1) * pageSizeArticulos + (i + 1) }}
                      </h4>
                    </div>
                    <div class="col text-right">
                      <button
                        class="btn btn-default btn-usco-vt"
                        type="button"
                        (click)="
                          deleteFieldValueArticulo(
                            (pageArticulos - 1) * pageSizeArticulos + i
                          )
                        "
                        placement="top"
                        ngbTooltip="Borrar"
                      >
                        <i class="far fa-trash-alt"> Borrar</i>
                      </button>
                    </div>
                  </div>
                  <hr />
                </div>
                <div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="text-left font-usco-vt font-weight-bold">
                        Nombre del artículo:
                      </h6>
                      <input
                        type="text"
                        id="newAttributeNombreArticulo"
                        [(ngModel)]="newAttribute.nombreArticulo"
                        name="newAttributeNombreArticulo"
                        class="form-control shadow p-3"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Autores:
                      </h6>
                      <input
                        type="text"
                        id="newAttributeAutores"
                        [(ngModel)]="newAttribute.autores"
                        name="newAttributeAutores"
                        class="form-control shadow p-3"
                      />
                    </div>
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Fecha de publicación:
                      </h6>
                      <input
                        type="date"
                        id="newAttributeAnio"
                        [(ngModel)]="newAttribute.anio"
                        name="newAttributeAnio"
                        class="form-control shadow p-3"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Reseña:
                      </h6>
                      <textarea
                        maxlength="6500"
                        id="newAttributeResumen"
                        [(ngModel)]="newAttribute.resumen"
                        name="newAttributeResumen"
                        class="form-control shadow p-1"
                        rows="7"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Enlace del artículo:
                      </h6>
                      <input
                        id="newAttributeEnlace"
                        [(ngModel)]="newAttribute.enlace"
                        name="newAttributeEnlace"
                        type="text"
                        class="form-control shadow p-3 inputPaciente"
                      />
                    </div>
                    <div class="col">
                      <h6 class="font-usco-vt font-weight-bold text-left">
                        Revista:
                      </h6>
                      <input
                        id="newAttributeRevista"
                        [(ngModel)]="newAttribute.revista"
                        name="newAttributeRevista"
                        type="text"
                        class="form-control shadow p-3 inputPaciente"
                      />
                    </div>
                  </div>
                  <div class="row m-2">
                    <div class="col text-left">
                      <h4 class="font-usco-vt font-weight-bold text-left">
                        Formulario en blanco
                      </h4>
                    </div>
                    <div class="col text-right">
                      <button
                        class="btn btn-default btn-usco-vt"
                        type="button"
                        (click)="addFieldValueArticulo()"
                        placement="top"
                        ngbTooltip="Agregar"
                      >
                        <i class="fas fa-plus-circle"> Agregar</i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- FORM INPUTS ARTICULOS END-->
                <br />
              </div>
              <div class="container text-left no-print">
                <hr />
                <button (click)="openModal(confirmar)" class="btn btn-usco-vt">
                  <i class="far fa-save"></i> Guardar
                </button>
                <!--<button
                class="btn btn-usco-vt m-1"
                [routerLink]="['/admi_plantel','nuevo']"
              >
                <i class="fas fa-plus-circle"></i> Agregar nuevo egresado
              </button>-->
                <button
                  class="btn btn-usco-vt m-1"
                  [routerLink]="['/docentes']"
                >
                  <i class="fas fa-sign-out-alt"></i> Regresar
                </button>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
