<div class="wrapper fadeIn fast">
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div id="print-section">
          <div class="col-sm shadow text-justify fondodivleft shadow grayinst">
            <div [innerHTML]="agenda.parrafo | noSanitize"></div>
            <div class="row no-print">
              <div class="col">
                <button
                  class="btn navlinkinSolid m-2"
                  printSectionId="print-section"
                  [useExistingCss]="true"
                  printTitle="Evento {{ agenda.titulo }}"
                  ngxPrint
                >
                  <i class="fas fa-print"></i> Imprimir
                </button>
                <button
                  class="btn navlinkinSolid m-2"
                  [routerLink]="['/agendaPrograma']"
                >
                  <i class="fas fa-sign-out-alt"></i> Regresar
                </button>
              </div>
              <div class="col text-right" *ngIf="auth.user | async">
                <button
                  class="btn navlinkinSolid m-2"
                  [routerLink]="['/admi_agendaPrograma', 'nuevo']"
                >
                  <i class="fas fa-plus-circle"></i> Agregar nueva Publicación
                </button>
                <button class="btn navlinkinSolid m-2" (click)="nav()">
                  <i class="fas fa-user-edit"></i> Editar
                </button>
                <button
                  (click)="openModal(confirmar)"
                  class="btn navlinkinSolid m-2"
                >
                  <i class="fas fa-trash"></i> Borrar
                </button>
                <ng-template #confirmar let-modal>
                  <div class="modal-header bgrojoycafe">
                    <h4 class="modal-title">Confirmar acción</h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <i class="fas fa-times" style="color: white"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      class="alert alert-warning text-center font-weight-bold"
                      role="alert"
                    >
                      Está a punto de borrar el evento. <br />
                      ¿Desea continuar con la acción?
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btnColorFacultadSalud"
                      ngbAutofocus
                      (click)="borrarAgenda()"
                    >
                      Aceptar
                    </button>
                    <button
                      type="button"
                      class="btn navlinkinSolid"
                      (click)="modal.close('Close click')"
                    >
                      Cancelar
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
