<div>
  <section id="sp-top-bar">
    <div class="container">
      <div class="row" style="color: aliceblue;">
        <div class="col">{{ today | date: "fullDate" | titlecase }}</div>
        <div class="col text-right">
            <!-- Facebook -->
            <a style="color: aliceblue;" href="https://www.facebook.com/pg/FacSaludUsco/posts/?ref=page_internal" target="_blanck" class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a style="color: aliceblue;" href="https://twitter.com/FACSALUD_USCO" target="_blanck" class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a style="color: aliceblue;" href="https://www.instagram.com/fac_saludusco/" target="_blanck" class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
        </div>
        <div class="col text-right">
          <i class="far fa-envelope"></i
            ><a style="color: aliceblue;" [href]="emailstring" target="_top">
              doctoradoencienciasdelasalud@usco.edu.co</a
            >
        </div>
      </div>
    </div>
  </section>
</div>
<div id="sp-logo-wrap">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" style="display: flex; justify-content: center;">
        <a
          title="Universidad Surcolombiana Facultad de Salud"
          [routerLink]="['/inicio']"
        >
          <img
            style="width: 95%;"
            src="assets/salud.png"
            alt="Universidad Surcolombiana Facultad de Salud"
          />
        </a>
      </div>
      <div
        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center"
        style="
          padding-top: 20px;
          color: #292929;
        "
      >
        <h5 style="font-size: 100%;font-family: basic,sans-serif;color: #292929;">DOCTORADO EN CIENCIAS DE LA SALUD</h5>
        <hr style="border: 1px solid #dfd4a6;">
        <h5 style="font-size: 100%;font-family: basic,sans-serif;">
          <a style="color: #292929;" href="https://contenidos.usco.edu.co/salud/index.php/programas/posgrados/doctorado-en-ciencias-de-la-salud" target="_blank">SNIES 105543</a>
        </h5>
      </div>
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
        <a
          title="Universidad Surcolombiana Facultad de Salud"
        >
          <img
            src="assets/escudo_colombia.png"
            alt="Universidad Surcolombiana Facultad de Salud"
          />
        </a>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <nav class="navbar menu navbar-expand-lg menu bgRedInst">
    <div class="container">
      <button
        class="navbar-toggler navlinkin"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto menu__list">
          <li class="menu__group">
            <a style="padding: 10px;"
              class="nav-link menu__link"
              [routerLink]="['/inicio']"
              routerLinkActive="router-link-active"
              ><i class="fas fa-home"></i> Inicio</a
            >
          </li>
          <li class="menu__group dropdown menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link dropdown-toggle menu__link dropbtn"
              [routerLink]="['/historia']"
              ><i class="far fa-building"></i> Programa</a
            >
            <div class="dropdown-content text-left">
              <a class="menu__link_dropdown" [routerLink]="['/historia']"><i class="fas fa-book-open"></i> Historia</a>
              <a class="menu__link_dropdown" [routerLink]="['/organigrama']"><i class="fas fa-code-branch"></i> Organigrama</a>
              <a class="menu__link_dropdown" [routerLink]="['/ubicacion']"><i class="fas fa-map-marker-alt"></i> Ubicación</a>
            </div>
          </li>
          <li class="menu__group dropdown menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link dropdown-toggle menu__link dropbtn"
              [routerLink]="['/formacion']"
              ><i class="fas fa-university"></i> Formación</a
            >
            <div class="dropdown-content text-left">
              <a class="menu__link_dropdown" [routerLink]="['/plandeestudios']"><i class="fas fa-book-reader"></i> Plan de estudios</a>
              <a class="menu__link_dropdown" [routerLink]="['/competencias']"><i class="fas fa-bullseye"></i> Competencias</a>
              <a class="menu__link_dropdown" [routerLink]="['/perfil']"><i class="fas fa-user-tie"></i> Perfil</a>
            </div>
          </li>
          <li class="menu__group dropdown menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link dropdown-toggle menu__link dropbtn"
              [routerLink]="['/docentes']"
              ><i class="fas fa-users"></i> Profesores</a
            >
            <div class="dropdown-content text-left">
              <a class="menu__link_dropdown" [routerLink]="['/docentes']"><i class="fas fa-book-reader"></i> Plantel</a>
              <a class="menu__link_dropdown" [routerLink]="['#']"><i class="fas fa-book-reader"></i> Artículos publicados</a>
            </div>
          </li>
          <li class="menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link menu__link"
              [routerLink]="['/agenda']"
              ><i class="far fa-newspaper"></i> Actividades</a
            >
          </li>
          <li class="menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link menu__link"
              [routerLink]="['/gruposinvestigacion']"
              ><i class="fas fa-microscope"></i> Investigación</a
            >
          </li>
          <li class="nav-item dropdown menu__group">
            <a style="padding: 10px;"
              class="nav-link dropdown-toggle menu__link dropbtn"
              [routerLink]="['/estudiantes']"
            >
            <i class="fas fa-user-circle"></i> Estudiantes
            </a>
            <div class="dropdown-content text-left">
              <a class="menu__link_dropdown" [routerLink]="['#']"><i class="fas fa-file-pdf"></i> Artículos publicados</a>
              <a class="menu__link_dropdown" [routerLink]="['/tesis']"><i class="fas fa-file-pdf"></i> Tesis</a>
              <a class="menu__link_dropdown" [routerLink]="['/egresados']"><i class="fas fa-user-graduate"></i> Egresados</a>
            </div>
          </li>
          <li class="menu__group">
            <a style="padding: 10px;"
              routerLinkActive="router-link-active"
              class="nav-link menu__link"
              [routerLink]="['#']"
              ><i class="fas fa-book"></i> Biblioteca</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
