<div class="wrapper fadeIn fast">
  <div>
    <img src="/assets/agenda.jpg" class="d-block w-100" style="height: auto" />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">
            <i class="far fa-calendar-alt"></i> Agenda
          </h3>
          <hr class="lineInstRed" />
          <br />
          <div class="container">
            <div class="input-group mb-3 m-2">
              <input
                type="text"
                class="form-control shadow"
                style="border-radius: 50px 0px 0px 50px"
                name="buscarEvento"
                [(ngModel)]="filterpost"
                placeholder="Digite palabras claves para buscar..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn navlinkinSolid shadow"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
          <div class="text-center m-2">
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <label class="col-form-label">Mes:</label>
              </div>
              <div class="col-auto my-1">
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                  [(ngModel)]="filterpost"
                >
                  <option *ngFor="let m of mes" [value]="m.id">
                    {{ m.name }}
                  </option>
                </select>
              </div>
              <div class="col-auto my-1">
                <label class="col-form-label">Año:</label>
              </div>
              <div class="col-auto my-1">
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                  [(ngModel)]="filterpost"
                >
                  <option *ngFor="let a of anios" [value]="a">{{ a }}</option>
                </select>
              </div>
            </div>
          </div>
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="(eventos | filtro: filterpost).length"
            [(page)]="page"
            [pageSize]="pageSize"
          ></ngb-pagination>
          <div
            class="card"
            *ngFor="
              let evento of eventos
                | filtro: filterpost
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
              let i = index
            "
          >
            <div class="row">
              <div class="col-md-4">
                <img
                  style="padding: 10px"
                  [src]="evento.img"
                  [routerLink]="['/evento', evento.key]"
                  class="rounded w-100 cursorSelect"
                />
              </div>
              <div class="col-md-8 px-3" style="margin-top: 20px">
                <div class="card-block px-3">
                  <h3
                    [routerLink]="['/evento', evento.key]"
                    class="card-title subTituloRojoInstitucional cursorSelect"
                  >
                    {{ evento.titulo }}
                  </h3>
                  <p>
                    {{ evento.resenia | slice: 0:150 }}
                    <a style="color: #8f141b">... Ver más</a>
                  </p>
                  <p class="card-text subTituloRojoInstitucional">
                    {{ evento.fechaEvento | date: "fullDate" | titlecase }}
                  </p>
                  <div class="row">
                    <a
                      [href]="evento.url"
                      target="_blank"
                      class="btn navlinkinSolid m-3"
                      ><i class="fas fa-info-circle"></i> Más información</a
                    >
                    <a
                      [routerLink]="['/evento', evento.key]"
                      class="btn navlinkinSolid m-3"
                      ><i class="fas fa-search"></i> Ver evento</a
                    >
                  </div>
                  <p class="text-right">
                    <small
                      >Publicado:
                      {{
                        evento.fechaPublicacion | date: "fullDate" | titlecase
                      }}</small
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="auth.user | async">
              <div class="col text-right">
                <a
                  class="btn navlinkinSolid m-2"
                  [routerLink]="['/admi_agenda', evento.key]"
                  ><i class="fas fa-pencil-alt"></i> Editar</a
                >
                <a (click)="openModal(confirmar)" class="btn navlinkinSolid m-2"
                  ><i class="fas fa-trash"></i> Borrar</a
                ><br />
                <ng-template #confirmar let-modal>
                  <div class="modal-header bgrojoycafe">
                    <h4 class="modal-title">Confirmar acción</h4>
                    <button
                      type="button"
                      class="close"
                      aria-label="Close"
                      (click)="modal.dismiss('Cross click')"
                    >
                      <i class="fas fa-times" style="color: white"></i>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div
                      class="alert alert-warning text-center font-weight-bold"
                      role="alert"
                    >
                      Está a punto de borrar el evento. <br />
                      ¿Desea continuar con la acción?
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btnColorFacultadSalud"
                      ngbAutofocus
                      (click)="borrarAgenda(evento.key)"
                    >
                      Aceptar
                    </button>
                    <button
                      type="button"
                      class="btn navlinkinSolid"
                      (click)="modal.close('Close click')"
                    >
                      Cancelar
                    </button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <ngb-pagination
                class="d-flex justify-content-start"
                [collectionSize]="(agenda | keysfirebase).length"
                [(page)]="page"
                [pageSize]="pageSize"
              ></ngb-pagination>
            </div>
            <div class="col text-right">
              <div class="col text-right" *ngIf="auth.user | async">
                <a
                  class="btn navlinkinSolid"
                  [routerLink]="['/admi_agenda', 'nuevo']"
                  ><i class="far fa-newspaper"></i> Publicar evento</a
                >
              </div>
            </div>
          </div>
          <br />
          <img src="/assets/gruposinves.jpg" class="img-fluid" alt="" />
          <br />
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed">
            <i class="far fa-calendar-alt"></i> Calendario
          </h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FBogota&amp;src=ZG9jZW5jaWVuY2lhc2RlbGFzYWx1ZHVzY29AZ21haWwuY29t&amp;src=bDNmbXZkbXExcHYyMjJlNGIxb2o2NjV2NGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23039BE5&amp;color=%23C0CA33&amp;color=%2333B679&amp;color=%230B8043"
            style="border: none"
            width="300"
            height="400"
            frameborder="0"
            scrolling="no"
          ></iframe
          ><br />
          <hr />
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <hr />
          <h3 class="titleInstRed">
            <i class="fas fa-rss"></i> Redes sociales
          </h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDoctoradoEnCienciasDeLaSalud&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="300"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
      <div class="list row">
        <div class="col-md-6">
          <h4>Tutorials List</h4>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let evento of eventos | filtro: filterpost; let i = index"
              [class.active]="i == actualIndex"
              (click)="setActiveTutorial(evento, i)"
            >
              {{ evento.titulo }}
              {{ i }}
              {{ evento.key }}
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <div *ngIf="actualEvento">
            <app-tutorial-details
              (refreshList)="refreshList()"
              [tutorial]="actualEvento"
            ></app-tutorial-details>
          </div>

          <div *ngIf="!actualEvento">
            <br />
            <p>Please click on a Tutorial...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
