<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/slide-formacion-alta-calidad.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div
        class="col-sm-8 shadow text-justify fondodivleft font-usco-gr pb-4 pt-4"
      >
        <div id="print-section">
          <div class="row">
            <div class="col">
              <h3 class="titleInstRed">Perfil de Ingreso</h3>
              <hr class="lineInstRed" />
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                El candidato a doctor en Ciencias de la Salud cumplirá los
                siguientes requisitos:
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Formación de pregrado y/o posgrado en áreas de las ciencias de
                  la salud.
                </li>
                <li>
                  Experiencia profesional y/o docente o participación en
                  procesos de investigación científica en áreas de las Ciencias
                  de la Salud mínima de dos años.
                </li>
                <li>
                  Publicación de al menos un artículo en revista científica.
                </li>
                <li>
                  En la entrevista, demostrar autonomía, iniciativa y
                  creatividad en la búsqueda de estrategias para resolver
                  problemas de las ciencias de la salud, capacidad para trabajar
                  en equipo, con objetividad, responsabilidad, honestidad y
                  vocación por la investigación científica.
                </li>
                <li>
                  Carta de compromiso de dedicación de tiempo completo al
                  programa de Doctorado.
                </li>
                <br />
              </ul>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col">
              <h3 class="titleInstRed">Perfil Profesional</h3>
              <hr class="lineInstRed" />
              <br />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>El doctor en Ciencias de la Salud de la USCO será un:</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul>
                <li>
                  Científico socialmente responsable; ético; con sólida
                  preparación técnica y humanista en Ciencias de la Salud.
                </li>
                <li>
                  Generador de conocimiento nuevo, valido y útil y con
                  habilidades y actitudes que contribuyan a la solución de
                  problemas de las ciencias de la salud.
                </li>
                <li>
                  Docente eficaz en el área de la investigación científica en
                  ciencias de la salud, tanto en pre como en posgrado.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <button
              class="btn btn-usco-vt"
              printSectionId="print-section"
              printTitle="Grupos de Investigación del Doctorado en Ciencias de la Salud"
              ngxPrint
            >
              <i class="fas fa-print"></i> Imprimir
            </button>
          </div>
        </div>
        <hr />
      </div>
      <div class="col-sm-auto fondodivright shadow pt-4 pb-4">
        <div class="row">
          <div class="col">
            <h3 class="titleInstRed">Infórmate</h3>
            <hr class="lineInstRed" />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <iframe
              src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
              width="100%"
              height="500"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
