<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/profesores.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">Equipo Docente del Programa</h3>
          <hr class="lineInstRed" /><br>
          <ngb-pagination class="d-flex justify-content-end" [collectionSize]="profesores.length" [pageSize]="pageSize" [(page)]="page"></ngb-pagination><br>
          <div *ngFor="let pro of profesores |  slice: (page-1) * pageSize : (page-1) * pageSize + pageSize  ; let i = index" class="card brCard grayinst shadow-sm" style="padding: 20px" id="gradiante">
            <div class="row">
              <div class="col-md-4">
                <img [src]="pro.foto" [alt]="pro.nombre" class="w-100 perfilPro" />
              </div>
              <div class="col-md-8 px-3">
                <div class="card-block px-3">
                  <h4 class="card-title beigeInst carnetTitulo"><i class="fas fa-chalkboard-teacher"></i> {{ pro.nombre }}</h4><br>
                  <p class="card-text"><i class="fas fa-info-circle"></i> Formación Académica:</p>
                  <ul class="card-text" style="font-size: 12px">
                    <li>
                      <p class="text-justify">
                        {{ pro.sintesis | slice:0:300 }} <a href="#" style="color: #8F141B;">... Ver más</a>
                      </p>
                    </li>
                  </ul>
                  <p class="card-title grayinst"><i class="fas fa-envelope"></i> {{ pro.correo }}</p>
                  <div class="text-right">
                    <a
                      [href]="pro.cvlac"
                      target="blank_"
                      class="btn navlinkinSolid"
                      >CvLAC</a
                    >
                    <a
                      style="margin-left: 10px"
                      [href]="pro.orcid"
                      target="blank_"
                      class="btn navlinkinSolid"
                      >ORCID</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div><br>
          <ngb-pagination class="d-flex justify-content-start" [collectionSize]="profesores.length" [pageSize]="pageSize" [(page)]="page"></ngb-pagination>
        </div>
        <div class="col-sm-auto shadow fondodivright">
          <a
            class="twitter-timeline"
            data-lang="es"
            data-height="1200"
            data-theme="light"
            href="https://twitter.com/FACSALUD_USCO?ref_src=twsrc%5Etfw"
            >Tweets de FACSALUD_USCO</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
