<div class="wrapper fadeIn fast">
  <div>
    <img
      src="/assets/slide-profesores.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow">
          <h3 class="titleInstRed">Equipo Docente del Programa</h3>
          <hr class="lineInstRed" />
          <br />
          <div class="container">
            <div class="input-group mb-3 m-2">
              <input
                type="text"
                class="form-control shadow"
                style="border-radius: 50px 0px 0px 50px"
                name="buscarEvento"
                [(ngModel)]="filterpost"
                placeholder="Digite palabras claves para buscar..."
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn navlinkinSolid shadow"
                  type="button"
                  id="button-addon2"
                >
                  <i class="fas fa-search"></i> Buscar
                </button>
              </div>
            </div>
          </div>
          <br />
          <ngb-pagination
            class="d-flex justify-content-end"
            [collectionSize]="
              (profesores | filtroprofesores: filterpost).length
            "
            [pageSize]="pageSize"
            [(page)]="page"
          ></ngb-pagination>
          <div
            *ngFor="
              let profesor of profesores
                | filtroprofesores: filterpost
                | listinvert
                | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize;
              let i = index
            "
            class="card brCard grayinst shadow-sm"
            style="padding: 20px"
            id="gradiante"
          >
            <div class="row">
              <div class="col-md-4 text-center">
                <img
                  [src]="profesor.foto"
                  [alt]="profesor.nombre"
                  [title]="profesor.nombre"
                  [routerLink]="['/docente', profesor.key]"
                  class="w-100 perfilPro cursorSelect"
                />
                <p class="card-title grayinst">
                  <strong
                    ><i class="fas fa-envelope"></i>
                    {{ profesor.correo }}</strong
                  >
                </p>
                <p class="card-title grayinst">
                  <strong
                    >Artículos registrados: {{ (profesor.fieldArrayArticulos).length }}</strong
                  >
                </p>
                <div class="row" *ngIf="auth.user | async">
                  <div class="col text-right">
                    <a
                      class="btn navlinkinSolid m-2"
                      [routerLink]="['/admi_plantel', profesor.key]"
                      ><i class="fas fa-pencil-alt"></i> Editar</a
                    >
                    <a
                      (click)="openModal(confirmar)"
                      class="btn navlinkinSolid m-2"
                      ><i class="fas fa-trash"></i> Borrar</a
                    ><br />
                    <ng-template #confirmar let-modal>
                      <div class="modal-header bgrojoycafe">
                        <h4 class="modal-title">Confirmar acción</h4>
                        <button
                          type="button"
                          class="close"
                          aria-label="Close"
                          (click)="modal.dismiss('Cross click')"
                        >
                          <i class="fas fa-times" style="color: white"></i>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div
                          class="
                            alert alert-warning
                            text-center
                            font-weight-bold
                          "
                          role="alert"
                        >
                          Está a punto de eliminar el perfil del Profesor.
                          <br />
                          ¿Desea continuar con la acción?
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btnColorFacultadSalud"
                          ngbAutofocus
                          (click)="borrarPlantel(profesor.key)"
                        >
                          Aceptar
                        </button>
                        <button
                          type="button"
                          class="btn navlinkinSolid"
                          (click)="modal.close('Close click')"
                        >
                          Cancelar
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="col-md-8 px-3">
                <div class="card-block px-3">
                  <h4
                    class="card-title beigeInst carnetTitulo cursorSelect"
                    [routerLink]="['/docente', profesor.key]"
                  >
                    <i class="fas fa-chalkboard-teacher"></i>
                    {{ profesor.nombre }}
                  </h4>
                  <br />
                  <p class="card-text">
                    <strong
                      ><i class="fas fa-info-circle"></i> Formación
                      Académica:</strong
                    >
                  </p>
                  <p class="text-justify m-2">
                    {{ profesor.sintesis | slice: 0:300 }}
                    <a
                      [routerLink]="['/docente', profesor.key]"
                      style="color: #8f141b"
                      >... Ver más</a
                    >
                  </p>
                  <div class="text-right">
                    <a
                      [href]="profesor.cvlac"
                      target="blank_"
                      class="btn navlinkinSolid"
                      >CvLAC</a
                    >
                    <a
                      style="margin-left: 10px"
                      [href]="profesor.orcid"
                      target="blank_"
                      class="btn navlinkinSolid"
                      >ORCID</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col">
              <ngb-pagination
                class="d-flex justify-content-start"
                [collectionSize]="
                  (profesores | filtroprofesores: filterpost).length
                "
                [(page)]="page"
                [pageSize]="pageSize"
              ></ngb-pagination>
            </div>
            <div class="col text-right">
              <div class="col text-right" *ngIf="auth.user | async">
                <a
                  class="btn navlinkinSolid"
                  [routerLink]="['/admi_plantel', 'nuevo']"
                  ><i class="fas fa-plus-circle"></i> Agregar nuevo Profesor</a
                >
              </div>
            </div>
          </div>
          <br />
        </div>
        <div class="col-sm-auto shadow fondodivright">
          <h3 class="titleInstRed">
            <i class="far fa-newspaper"></i> Infórmate
          </h3>
          <hr class="lineInstRed" />
          <br />
          <!-- SLIDE AGENDA PROGRAMA-->
          <div
            id="carouselExampleControlsPrograma"
            class="carousel slide"
            data-ride="carousel"
            style="width: 300px"
          >
            <div class="carousel-inner">
              <div
                [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                *ngFor="let evento of sortDataPrograma; let i = index"
              >
                <div class="card-deck">
                  <div class="card shadow">
                    <img
                      [src]="evento.img"
                      class="card-img-top"
                      [alt]="evento.titulo"
                    />
                    <div class="card-body">
                      <h4 class="subTituloRojoInstitucional">
                        {{ evento.titulo }}
                      </h4>
                      <h6 class="card-title subTituloRojoInstitucional">
                        <i class="far fa-calendar-alt"></i>
                        {{ evento.fechaEvento | date: "fullDate" | titlecase }}
                      </h6>
                      <a [href]="evento.url" class="btn navlinkinSolid"
                        >Más información</a
                      >
                      <p class="card-text">
                        <small class="text-muted"
                          >Publicado:
                          {{
                            evento.fechaPublicacion
                              | date: "fullDate"
                              | titlecase
                          }}</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /SLIDE AGENDA PROGRAMA-->
          <!--CONTROLES SLIDE AGENDA PROGRAMA-->
          <div class="row my-2">
            <div class="col text-left">
              <button class="btn navlinkinSolid" style="width: 50%">
                <i class="fas fa-arrow-left"></i
                ><a
                  class="carousel-control-prev"
                  href="#carouselExampleControlsPrograma"
                  role="button"
                  data-slide="prev"
                  style="width: 50%"
                >
                  <span class="sr-only">Previous</span>
                </a>
              </button>
            </div>
            <div class="col text-right">
              <button class="btn navlinkinSolid" style="width: 50%">
                <i class="fas fa-arrow-right"></i
                ><a
                  class="carousel-control-next"
                  href="#carouselExampleControlsPrograma"
                  role="button"
                  data-slide="next"
                  style="width: 50%"
                >
                  <span class="sr-only">Next</span>
                </a>
              </button>
            </div>
          </div>
          <!--/CONTROLES SLIDE AGENDA PROGRAMA-->
          <hr />
          <h3 class="titleInstRed">
            <i class="far fa-calendar-alt"></i> Institucional
          </h3>
          <hr class="lineInstRed" />
          <br />
          <!-- SLIDE AGENDA INSTITUCIONAL-->
          <div
            id="carouselExampleControlsInstitucional"
            class="carousel slide"
            data-ride="carousel"
            style="width: 300px"
          >
            <div class="carousel-inner">
              <div
                [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
                *ngFor="let evento of sortDataInstitucional; let i = index"
              >
                <div class="card-deck">
                  <div class="card shadow">
                    <img
                      [src]="evento.img"
                      class="card-img-top"
                      [alt]="evento.titulo"
                    />
                    <div class="card-body">
                      <h4 class="subTituloRojoInstitucional">
                        {{ evento.titulo }}
                      </h4>
                      <h6 class="card-title subTituloRojoInstitucional">
                        <i class="far fa-calendar-alt"></i>
                        {{ evento.fechaEvento | date: "fullDate" | titlecase }}
                      </h6>
                      <a [href]="evento.url" class="btn navlinkinSolid"
                        >Más información</a
                      >
                      <p class="card-text">
                        <small class="text-muted"
                          >Publicado:
                          {{
                            evento.fechaPublicacion
                              | date: "fullDate"
                              | titlecase
                          }}</small
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /SLIDE AGENDA INSTITUCIONAL-->
          <!--CONTROLES SLIDE AGENDA INSTITUCIONAL-->
          <div class="row my-2">
            <div class="col text-left">
              <button class="btn navlinkinSolid" style="width: 50%">
                <i class="fas fa-arrow-left"></i
                ><a
                  class="carousel-control-prev"
                  href="#carouselExampleControlsInstitucional"
                  role="button"
                  data-slide="prev"
                  style="width: 50%"
                >
                  <span class="sr-only">Previous</span>
                </a>
              </button>
            </div>
            <div class="col text-right">
              <button class="btn navlinkinSolid" style="width: 50%">
                <i class="fas fa-arrow-right"></i
                ><a
                  class="carousel-control-next"
                  href="#carouselExampleControlsInstitucional"
                  role="button"
                  data-slide="next"
                  style="width: 50%"
                >
                  <span class="sr-only">Next</span>
                </a>
              </button>
            </div>
          </div>
          <!--/CONTROLES SLIDE AGENDA INSTITUCIONAL-->
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
