.cover img.img-polaroid {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  padding: 4px;
  width: auto;
}
.cover img {
  width: 80px;
  max-height: 112px;
  margin: 0px 5px 5px 0px;
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #8f141b !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  color: #dfd4a6;
  border-color: #dfd4a6;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #b62229 !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  color: #f0e4b4;
  border-color: #f0e4b4;
}
pdf-viewer {
  display: block;
  height: 100vh;
}
