<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/carrusel0.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <h3 class="titleInstRed">Orígenes del programa</h3>
          <hr class="lineInstRed">
          <p class="mgText">
            La Universidad Surcolombiana (USCO), con 50 años de labores
            académicas, ha fortalecido sus funciones misionales, evidenciado en
            la consolidación de siete facultades (Educación, Economía y
            Administración, Salud, Ingeniería, Ciencias Sociales y Humanas,
            Ciencias Exactas y Naturales y Ciencias Jurídicas y Políticas) con
            una oferta de, 43 programas de pregrado, los doctorados en Educación
            y Cultura Ambiental, en Agroindustria y Desarrollo Agrícola
            sostenible y el tercer programa al más alto nivel de formación
            universitaria, Doctorado en Ciencias de la Salud (DCS).
          </p>
          <p>
            El interés institucional por la calidad de sus procesos, una de las
            prioridades del Plan de Desarrollo de la USCO 2015-2024, además de
            ubicar a la investigación como la principal función misional y uno
            de los mecanismos más efectivos con que cuentan las instituciones de
            educación superior para entregar a la sociedad y al sector
            productivo sus aportes al desarrollo económico y social, es la
            oferta de doctorados. En tal dirección se formulan los objetivos
            estratégicos “Garantizar la pertenencia social y la pertinencia
            académica de la oferta de Programas Académicos de pregrado, Maestría
            y Doctorado y obtener el reconocimiento científico y social de los
            desarrollos institucionales en investigación e innovación.
          </p>
          <p>
            En coherencia con lo anterior, en el segundo período académico de
            2011, se designa un equipo de docentes de la Facultad de Salud, de
            tres disciplinas diferentes, para que estructure la propuesta de
            doctorado en Ciencias de la Salud. En la selección de los autores
            del proyecto se tuvo en cuenta, además de su trayectoria académica e
            investigativa, su participación como pares académicos de la Comisión
            Nacional Intersectorial de Aseguramiento de la Calidad de la
            Educación Superior-CONACES.
          </p>
          <p>
            Luego de una primera aproximación a aspectos básicos de la
            propuesta, se consideró importante visitar instituciones con
            experiencia en el proceso de preparación y aprobación de programas
            de esta naturaleza. La Facultad Nacional de Salud Pública de la
            Universidad de Antioquia, luego de solicitud formal, abrió el
            espacio para la socialización de los primeros avances; ejercicio que
            resultó productivo y motivador para continuar.
          </p>
          <p>
            En febrero de 2012, en visita efectuada a la República de Cuba, se
            recibe asesoría de parte del equipo de profesores del Doctorado en
            Ciencias de la Salud de la Escuela Nacional de Salud Pública y se
            firma un convenio marco de cooperación académica orientado al apoyo
            necesario para el desarrollo del programa, una vez se obtenga la
            aprobación correspondiente.
          </p>
          <p>
            En agosto de 2012, con propósito similar, se visita el Programa de
            Doctorado en Enfermería y Biociencias de la Universidad Federal del
            Estado de Río de Janeiro Brasil; en octubre del mismo año, se
            participa en Convocatoria de Colciencias para el desarrollo conjunto
            del Proyecto “Estudios comparados de la Educación en Salud Pública
            de Enfermería y Medicina”, mismo que es aprobado. En 2013, en el
            marco del desarrollo del proyecto, se formaliza convenio específico
            de cooperación académica que ha facilitado la movilidad de
            profesores y estudiantes de pregrado y posgrado, pasantías de
            doctorado y posdoctorado, trabajo interinstitucional de editores y
            desarrollo conjunto de eventos científicos. Desde entonces se cuenta
            con acompañamiento para la retroalimentación del documento maestro y
            demás requerimientos oficiales inherentes a este doctorado.
          </p>
          <p>
            En 2014 se fortalece la propuesta con participación de los
            profesores que integran el cuerpo docente del programa, misma que es
            socializada con los profesores que surtieron el trámite para la
            aprobación de los doctorados Educación y Cultura Ambiental y
            Agroindustria y Desarrollo Sostenible en la USCO, quienes oficiaron
            como pares académicos amigos. Finalmente, se invita a dos
            reconocidas autoridades académicas e investigativas del ámbito
            nacional, Universidad de Antioquia y Universidad Nacional de
            Colombia, sede Bogotá, con quienes se efectúa un ejercicio similar
            al desarrollado formalmente durante una visita para la obtención del
            registro calificado de programas académicos. Estas jornadas fueron
            fundamentales para robustecer el documento final.
          </p>
          <p>
            La preparación del Doctorado en Ciencias de la Salud, acorde con
            directrices institucionales y del Ministerio de Educación Nacional,
            ha seguido las condiciones definidas por el Decreto 1295 de 2010,
            que reglamenta el Registro Calificado de que trata la Ley 1188 de
            2008.
          </p>

          <p>
            Por parte del equipo de trabajo se manifiesta entera disposición e
            interés de brindar la información necesaria para la verificación de
            lo aquí consignado, lo mismo que de la documentación complementaria
            que da cuenta de los procesos académicos del programa en referencia.
          </p>

          <p>
            En el año 2016 se logra el registro calificado para el Programa
            Doctorado en Ciencias de la Salud mediante la Resolución número 9862
            del 18 de mayo de 2016, en el mismo año se corrige la Resolución
            anterior, con la 9905 del 16 de octubre de 2016 la cual aclara el
            número de créditos académicos, la duración del programa y el número
            de estudiantes del primer periodo.
          </p>

          <p>
            En el año 2019 se empieza con el proceso de autoevaluación para la
            renovación del registro calificado, un ejercicio que aún se lleva
            acabo en el presente año.
          </p>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="redinst">USCO</h3>
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
