<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/slide-galeria-imagenes.jpg"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <div id="print-section">
            <h3 class="titleInstRed">Nuestros Estudiantes</h3>
            <hr class="lineInstRed" />
            <br />
            <div class="row">
              <div class="col">
                <div lightbox-group>
                  <img
                    *ngFor="let estudiante of estudiantes"
                    placement="top" [ngbTooltip]="estudiante.nombre"
                    [src]="estudiante.foto"
                    class="img-thumbnail"
                    lightbox
                    style="height: 100px;"
                    animationDuration="500"
                    animationTimingFunction="cubic-bezier(0.77, 0, 0.175, 1)"
                    [counter]="true"
                    counterSeparator=" of "
                  />
                </div>
              </div>
            </div>
            <hr>
            <br>
            <h3 class="titleInstRed">Nuestros Docentes</h3>
            <hr class="lineInstRed" />
            <br />
            <div class="row">
              <div class="col">
                <div lightbox-group>
                  <img
                    *ngFor="let profesor of profesores"
                    placement="top" [ngbTooltip]="profesor.nombre"
                    [src]="profesor.foto"
                    class="img-thumbnail"
                    lightbox
                    style="height: 100px;"
                    animationDuration="500"
                    animationTimingFunction="cubic-bezier(0.77, 0, 0.175, 1)"
                    [counter]="true"
                    counterSeparator=" of "
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="row" *ngIf="auth.user | async">
              <div class="col text-right">
                <button class="btn navlinkinSolid">
                  <i class="fas fa-pencil-alt"></i> Editar
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed">Infórmate</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=800&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="800"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
