<div class="wrapper fadeIn fast">
  <div>
    <img
      src="assets/Historia.png"
      class="d-block w-100"
      style="height: auto"
    />
  </div>
  <div>
    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
      <div class="row">
        <div class="col-sm-8 shadow text-justify fondodivleft shadow grayinst">
          <div id="print-section">
            <h3 class="titleInstRed">Orígenes del programa</h3>
            <hr class="lineInstRed" />
            <p class="mgText">
              El interés de la Universidad Surcolombiana por la calidad de sus
              procesos, una de las prioridades del Plan de Desarrollo
              Institucional 2015-2024, además de ubicar a la investigación como
              la principal función misional y uno de los mecanismos más
              efectivos con que cuentan las instituciones de educación superior
              para entregar a la sociedad y al sector productivo sus aportes al
              desarrollo económico y social, es la oferta de doctorados. En tal
              dirección se formulan los objetivos estratégicos “Garantizar la
              pertenencia social y la pertinencia académica de la oferta de
              Programas Académicos de pregrado, Maestría y Doctorado y obtener
              el reconocimiento científico y social de los desarrollos
              institucionales en investigación e innovación.
            </p>
            <p>
              En coherencia con lo anterior, en el segundo período académico de
              2011, se designa un equipo de docentes de la Facultad de Salud
              integrado por los doctores Dolly Arias Torres, Nicolás Arturo
              Núñez Gómez y Jairo Antonio Rodríguez Rodríguez (Enfermera,
              Psicólogo y Médico respectivamente), para la estructuración de la
              propuesta de doctorado en Ciencias de la Salud. En la selección de
              los autores del proyecto se tuvo en cuenta, además de su
              trayectoria académica e investigativa, su participación como pares
              académicos de la Comisión Nacional Intersectorial de Aseguramiento
              de la Calidad de la Educación Superior-CONACES, del Consejo
              Nacional de Acreditación y del Ministerio de Ciencia, Tecnología e
              Innovación.
            </p>
            <p>
              Luego de una primera aproximación a aspectos básicos de la
              propuesta, se consideró importante visitar instituciones con
              experiencia en el proceso de preparación y aprobación de programas
              de esta naturaleza. La Facultad Nacional de Salud Pública de la
              Universidad de Antioquia, luego de solicitud formal, abrió el
              espacio para la socialización de los primeros avances; ejercicio
              que resultó productivo y motivador para continuar.
            </p>
            <p>
              En febrero de 2012, en visita efectuada a la República de Cuba, se
              recibe asesoría de parte del equipo de profesores del Doctorado en
              Ciencias de la Salud de la Escuela Nacional de Salud Pública y se
              firma un convenio marco de cooperación académica orientado al
              apoyo necesario para el desarrollo del programa.
            </p>
            <p>
              En agosto de 2012, con propósito similar, se visita el Programa de
              Doctorado en Enfermería y Biociencias de la Universidad Federal
              del Estado de Río de Janeiro Brasil; en octubre del mismo año, se
              participa en Convocatoria de Colciencias para el desarrollo
              conjunto del Proyecto “Estudios comparados de la Educación en
              Salud Pública de Enfermería y Medicina”, mismo que es aprobado. En
              2013, en el marco del desarrollo del proyecto, se formaliza
              convenio específico de cooperación académica que ha facilitado la
              movilidad de profesores y estudiantes de pregrado y posgrado,
              pasantías de doctorado y posdoctorado, trabajo interinstitucional
              de editores y desarrollo conjunto de eventos científicos. Desde
              entonces se cuenta con acompañamiento para la retroalimentación
              del documento maestro y demás requerimientos oficiales inherentes
              a este doctorado.
            </p>
            <p>
              En 2014 se fortalece la propuesta con participación de docentes de
              la Facultad de Salud con formación doctoral, misma que es
              socializada con los profesores que surtieron el trámite para la
              aprobación de los doctorados en Educación y Cultura Ambiental y
              Agroindustria y Desarrollo Sostenible en la USCO, quienes
              oficiaron como pares académicos amigos. Finalmente, se invita a
              dos reconocidas autoridades académicas e investigativas del ámbito
              nacional, de las Universidades de Antioquia y Nacional de
              Colombia, sede Bogotá, con quienes se efectúa un ejercicio similar
              al desarrollado durante una visita para la obtención del registro
              calificado de programas académicos. Estas jornadas fueron
              fundamentales para robustecer el documento final.
            </p>
            <p>
              La preparación del Doctorado en Ciencias de la Salud, acorde con
              directrices institucionales y del Ministerio de Educación
              Nacional, siguió, en su momento, las condiciones definidas por el
              Decreto 1295 de 2010, que reglamenta el Registro Calificado de que
              trata la Ley 1188 de 2008.
            </p>
            <p>
              En 2016 se obtiene el registro calificado para el Programa,
              mediante la Resolución número 9862 del 18 de mayo de 2016 del
              Ministerio de Educación Nacional-MEN; en el segundo período de
              este años se adelantan las gestiones pertinentes a fin de iniciar
              labores en febrero de 2017. Desde entonces, han ingresado, cada
              año, por cohorte dos (2) estudiantes, cupo aprobado por el MEN.
            </p>

            <p>
              En 2020 empieza el proceso de autoevaluación para la renovación
              del registro calificado, ejercicio que ha de culminar con la
              formulación del plan de mejoramiento respectivo para proceder en
              2021 a su seguimiento y consolidar documentos a radicar en mayo de
              2022.
            </p>
          </div>
          <hr />
          <button
            class="btn navlinkinSolid"
            printSectionId="print-section"
            [useExistingCss]="true"
            printTitle="Historia del Programa Doctorado en Ciencias de la Salud"
            ngxPrint
          >
            <i class="fas fa-print"></i> Imprimir
          </button>
        </div>
        <div class="col-sm-auto fondodivright shadow">
          <h3 class="titleInstRed">Universidad</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUSCOoficial%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="100%"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
          <br /><br />
          <h3 class="titleInstRed"><i class="fas fa-rss"></i> Síguenos</h3>
          <hr class="lineInstRed" />
          <br />
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDoctoradoEnCienciasDeLaSalud&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
            width="300"
            height="500"
            style="border: none; overflow: hidden"
            scrolling="no"
            frameborder="0"
            allowTransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
