/*RESTRUCTURACIÓN DEL CSS*/
@import '~ngx-toastr/toastr';

* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #f5f5f5;
}
.cursorSelect{
  cursor: pointer;
}
.header {
  border-top: 1px solid white;
  height: 50px;
  width: 100%;
}
.menu {
  height: 50px;
  width: 100%;
  z-index: 100;
}
.wrapper {
  width: 100%;
  padding-top: 0px;
}
.fixed {
  position: fixed;
  top: 0;
}
.redinst {
  color: #8f141b;
  margin-bottom: 20px;
}
.subTituloRojoInstitucional {
  color: #8f141b;
  font-weight: bold;
}
.colorRedInst {
  color: #8f141b;
}
.bgRedInst {
  background-color: #8f141b;
}
.bgrojoycafe {
  background-color: #8f141b;
  color: #dfd4a6;
}
.bgrojoyblanco {
  background-color: #8f141b;
  color: white;
}
.beigeInst {
  color: #dfd4a6;
}
.grayinst {
  color: #4e6470;
}
.navlinkinSolid {
  background-color: #8f141b;
  color: #dfd4a6;
}
.navlinkinSolid:hover {
  background-color: #1e262b;
  color: #edeff0;
}
.btnColorFacultadSalud {
  background-color:#00A4B7;
  color: white;
}
.btnColorFacultadSalud:hover {
  background-color: #004e57;
  color: white;
}
.greyImg{
  filter: grayscale(100%);
}
.greyImg:hover{
  filter: grayscale(0%);
}
.fondodivleft {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.fondodivright {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 10px;
}
.fondodivCenter {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.fondodivcent {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 10px;
}
.fondodivlogin {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lineInstRed {
  content: "";
  height: 2px;
  background: #8f141b;
  margin: 0 auto;
  position: absolute;
  width: 20%;
}
.mgText{
  margin-top: 50px;
}
.ir-arriba {
  display: inline-block;
  padding: 10px;
  background-color: #8f141b;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 10px;
  float: none;
  z-index: 100;
  border-radius: 100px;
}
.titleInstRed {
  color: #8f141b;
  font-weight: bold;
  margin-bottom: 20px;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #8f141b !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  color: #dfd4a6;
  border-color: #dfd4a6;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #b62229 !important;
  border-top-style: none !important;
  border-bottom-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  color: #f0e4b4;
  border-color: #f0e4b4;
}

/*FIN RESTRUCTURACIÓN DEL CSS*/

@media print {
  .table {
    border: solid 2px black;
  }
  h5 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .tables thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
.inicio {
  margin-top: 20px;
}
.fuenteUsco {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#sp-logo-wrap {
  padding: 37px 0;
  background-color: #fff;
}
.txtcenter {
  text-align: center;
}

.footer {
  /* Enable flex mode. */
  display: flex;

  /* Spread out the elements inside the header. */
  justify-content: space-between;

  /* Align items vertically in the center. */
  align-items: center;
}

.usco-card {
  width: 45%;
  margin: 0 auto;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
}

.card-uscoHeader {
  background-color: #8f141b;
  border-color: #707070;
  border-width: 1px;
  color: #cab691;
  padding: 0.9rem;
  text-align: center;
}

.card-uscoContent {
  background-color: #f9e4e4;
  color: #000;
  border-color: #8f141b;
  border-width: 1px;
  padding: 0.9rem;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.uscoInputs {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  font-family: Segoe UI;
  color: black;
  font-style: italic;
  display: block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.uscoButton {
  background-color: #8f141b;
  border-color: #707070;
  border-width: 1px;
  color: #dfd4a6;
  padding: 0.375rem 0.75rem;
  margin: 1em 1em 1em 1em;
  cursor: pointer;
}

.uscolink {
  color: #8f141b;
  text-decoration: none;
}

input:invalid {
  border: 1px solid red;
  box-shadow: 0 0 3px 1px red;
}

.input-inside-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-color: red;
}

.uscoSearchTitulo {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 0.4rem;
  font-family: Segoe UI;
  color: black;
}

.uscoMenuNav {
  width: 100%;
  padding: 0.4rem;
  font-family: Segoe UI;
  color: black;
  padding: 10px;
  font-size: 20px;
}

.uscoSesion {
  width: 100%;
  padding: 0.4rem;
  font-family: Segoe UI;
  color: #8f141b;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.focus {
  background-color: #ffecec;
}

.flechaSelect {
  background-image: url(/assets/flechaSelect.png);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.iconoSelect {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 100px;
  border-color: #8f141a transparent transparent transparent;
}

.categoriasSearch {
  background-color: #8f141b;
  border-width: 1px;
  padding: 0.9rem;
  text-align: center;
  border-radius: 20px;
}

.colorCategoria {
  color: #dfd9bf;
  text-align: center;
}

.uscoInputSearch {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  padding: 0.6rem;
  font-family: Segoe UI;
  color: black;
  font-style: italic;
}

.selectSearch {
  width: 100%;
  background-color: #fff;
  padding: 0.6rem;
  font-family: Segoe UI;
  color: black;
  font-style: italic;
}

.flechaSelect {
  border: 1px solid #ccc;
  background: URL(/assets/flechaSelect.png) no-repeat 298px 3px #fff !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.activeTab {
  color: #8f141b;
  border-bottom: 5px solid #8f141b;
  border-radius: 5px;
}

a.activeTab:hover {
  color: #cab691;
}
.colorRojo {
  background-color: #8f141b;
}
.colorCafe {
  background-color: #dfd4a6;
}
.colorNegro {
  color: black;
}
.colorRojoContorno {
  color: #8f141b;
}
.iconRadio {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 5px black;
  padding: 0.5em 0.6em;
}
.divUpload {
  position: relative;
  overflow: hidden;
}
.inputUpload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.menuAdmin {
  background-color: white;
  padding: 10px;
  font-style: italic;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  color: #8fc8ee;
}
.selectAdmin {
  font-size: 12px;
  width: 15%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
}
.main-container {
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero {
  cursor: pointer;
}

.w120 {
  width: 120px;
}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-9-28 19:1:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animaciones */
.caki {
  color: #dfd4a6;
}
.text-usco-red {
  color: #8f141b;
}
.factores {
  font-size: 20px;
  height: 50px;
  width: 600px;
  border-radius: 15px 0px 15px 0px;
  background-color: #8f141b;
  padding: 10px;
  color: #dfd4a6;
}

.claro2 {
  background-color: rgb(167, 25, 32);
  color: rgb(236, 224, 176);
}
.indice {
  margin: 5px;
  font-size: 30px;
  background-color: #8f141b;
}
.navcon {
  background-color: #dfd4a6;
  color: #8f141b;
  border-bottom-style: solid;
  border-color: #ccc;
  border-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navlinkin {
  background-color: #8f141b;
  color: #dfd4a6;
}
.navlinkout {
  background-color: #dfd4a6;
  color: #8f141b;
}
.navlinkin:hover {
  background-color: rgb(255, 242, 191);
  color: rgb(179, 27, 34);
}
.navlinkout:hover {
  color: #dfd4a6;
  background-color: #8f141b;
}
.fondoTitulo {
  background-color: rgb(72, 153, 228);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}
.inputPaciente {
  border-radius: 50px;
  width: 20%px;
  margin-bottom: 15px;
}
.gray {
  color: #626567;
}
.botonUsco {
  background-color: #8f141b;
  color: #dfd4a6;
  width: 50%;
  font-size: 2vw;
}
.botonUsco:hover {
  background-color: rgb(179, 27, 34);
  color: rgb(255, 242, 191);
}
.botonUscoPerfil {
  background-color: #8f141b;
  color: #dfd4a6;
  width: 20%;
  font-size: 12px;
  margin: 5px;
}
.botonUscoPerfil:hover {
  background-color: rgb(179, 27, 34);
  color: rgb(255, 242, 191);
}
@media (min-width: 768px) {
  .hugeModal > .modal-dialog {
    width: 90%;
    max-width: 1200px; /* or 90% or whatever */
  }
}
.pre {
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: pre-wrap; /* Modern browsers */
}
.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0;
  opacity: 0;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #dfd4a6;
  content: "Adjuntar";
  background-color: #8f141b;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}
.my-custom-class .tooltip-inner {
  background-color: #8f141b;
  color: white;
  font-size: 125%;
}
.my-custom-class .arrow::before {
  border-top-color: #8f141b;
}
#sp-top-bar {
  padding: 6px 0;
  background: #4d626c;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
}
/*CARDS FRONT AND BACKSIDE*/

#gradiante {
  background-image: linear-gradient(#8f141b 20%, white 10%);
}

section .section-title {
  text-align: center;
  color: #8f141b;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background-image: linear-gradient(#8f141b 20%, white 10%);
  border: solid 1px #8f141b;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-webkit-transform: rotateY(0deg);
  -webkit-ms-transform: rotateY(0deg);
  z-index: 2;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.backside .card {
  min-height: 250px;
}
.frontside .card {
  min-height: 250px;
}

.backside .card a {
  font-size: 18px;
  color: #8f141b !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #8f141b !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.lista-sinsangria {
  list-style: none;
  padding-left: 0;
}

.text-backside {
  font-size: 10px;
}
