<div class="wrapper fadeIn fast">
  <div class="container p-3 mt-4">
    <div class="row">
      <div
        class="col-sm shadow text-justify fondodivleft font-usco-gr pt-4 pb-4"
      >
        <div class="row mb-4">
          <div class="col">
            <h3 class="titleInstRed">
              Formulario para administrar el carrusel de imágenes de inicio.
            </h3>
            <hr class="lineInstRed" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form #forma="ngForm">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h6 class="text-left font-usco-vt font-weight-bold">
                        Título de la imágen:
                      </h6>
                      <input
                        type="text"
                        name="titulo"
                        [(ngModel)]="carrusel.titulo"
                        class="form-control shadow p-3 inputPaciente"
                        placeholder="Campo de texto"
                      />
                    </div>
                    <div class="col">
                      <h6 class="text-left font-usco-vt font-weight-bold">
                        Cargar archivo de imágen:
                      </h6>
                      <form
                        [formGroup]="archivoForm"
                        (ngSubmit)="subirArchivo()"
                      >
                        <div class="row">
                          <div
                            *ngIf="porcentaje > 1 && porcentaje < 100"
                            class="col"
                          >
                            <ngb-progressbar
                              [showValue]="true"
                              type="danger"
                              [value]="porcentaje"
                            >
                            </ngb-progressbar
                            ><br />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <label class="file-label">
                              <input
                                type="file"
                                class="custom-file-input"
                                formControlName="archivo"
                                (change)="cambioArchivo($event)"
                                id="customFileLang"
                                lang="es"
                                required
                              />
                              <span class="file-cta">
                                <span
                                  class="custom-file-label text-left inputPaciente"
                                  style="margin-left: 16px"
                                  for="customFileLang"
                                >
                                  {{ mensajeArchivo | slice : 0 : 25 }}...
                                </span>
                              </span>
                            </label>
                            <br />
                          </div>
                          <div class="col col-lg-3 text-right">
                            <button
                              class="btn btn-usco-vt"
                              type="submit"
                              placement="top"
                              ngbTooltip="Subir archivo"
                              [disabled]="!archivoForm.valid"
                            >
                              Subir <i class="fas fa-upload"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h6 class="font-usco-vt text-left font-weight-bold">
                        URL para información complementaria:
                      </h6>
                      <input
                        type="text"
                        name="urlInfo"
                        [(ngModel)]="carrusel.urlInfo"
                        class="form-control shadow p-3 inputPaciente"
                        placeholder="Campo alfanumérico"
                      />
                    </div>
                    <div class="col">
                      <h6 class="font-usco-vt text-left font-weight-bold">
                        Fecha publicación:
                      </h6>
                      <input
                        type="date"
                        name="fecha"
                        [(ngModel)]="carrusel.fecha"
                        class="form-control shadow p-3 inputPaciente"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h6 class="font-usco-vt text-left font-weight-bold">
                        Reseña informativa:
                      </h6>
                      <textarea
                        maxlength="6500"
                        name="info"
                        [(ngModel)]="carrusel.info"
                        class="form-control shadow p-3"
                        placeholder="Campo de texto"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <button
                    [routerLink]="['/admi_carrusel']"
                    class="btn btn-usco-vt m-1"
                  >
                    <i class="fas fa-arrow-left"></i> Salir
                  </button>
                  <a
                    href="https://console.firebase.google.com/u/1/project/doctoradocienciasdelasaludusco/storage/doctoradocienciasdelasaludusco.appspot.com/files/~2FCARRUSEL"
                    target="_blank"
                    ><button class="btn btn-usco-vt m-1">
                      <i class="fas fa-cloud-upload-alt"></i> Administrar
                      imagenes
                    </button></a
                  >
                </div>
                <div class="col text-right">
                  <button
                    (click)="openModal(confirmar)"
                    class="btn btn-usco-vt m-1"
                  >
                    <i class="far fa-save"></i> Guardar
                  </button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col">
                  <h3 class="titleInstRed">
                    <i class="far fa-eye"></i> Previsualización de la imagen a
                    publicar.
                  </h3>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col">
                  <div
                    id="carouselExampleFade"
                    class="carousel slide carousel-fade"
                    data-ride="carousel"
                  >
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <a
                          href="https://www.usco.edu.co/archivosUsuarios/20/publicacion/facultad-de-salud/doctorado-en-ciencias-de-la-salud-v-cohorte.pdf"
                          target="_blank"
                          ><img
                            class="d-block w-100"
                            [src]="carrusel.urlImg"
                            alt=""
                        /></a>
                        <div class="carousel-caption d-none d-md-block"></div>
                      </div>
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#carouselExampleFade"
                      role="button"
                      data-slide="prev"
                    >
                      <i
                        style="margin-top: 200px"
                        class="fas fa-chevron-circle-left fa-3x"
                      ></i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselExampleFade"
                      role="button"
                      data-slide="next"
                    >
                      <i
                        style="margin-top: 200px"
                        class="fas fa-chevron-circle-right fa-3x"
                      ></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
              <div
                *ngIf="alertBool != false"
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <strong>{{ imgError }}</strong>
              </div>
              <ng-template #confirmar let-modal>
                <div class="modal-header bgrojoycafe">
                  <h4 class="modal-title">Confirmar acción</h4>
                  <button
                    type="button"
                    class="close"
                    aria-label="Close"
                    (click)="modal.dismiss('Cross click')"
                  >
                    <i class="fas fa-times" style="color: white"></i>
                  </button>
                </div>
                <div class="modal-body">
                  <div
                    class="alert alert-warning text-center font-weight-bold"
                    role="alert"
                  >
                    Está a punto de guardar. <br />
                    ¿Desea continuar con la acción?
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btnColorFacultadSalud"
                    ngbAutofocus
                    (click)="guardar()"
                  >
                    Aceptar
                  </button>
                  <button
                    type="button"
                    class="btn btn-usco-vt"
                    (click)="modal.close('Close click')"
                  >
                    Cancelar
                  </button>
                </div>
              </ng-template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
