<!-- Footer -->
<footer
  class="page-footer font-small unique-color-dark"
  style="background-color: #ededed; padding-top: 2px"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div
        class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4"
        style="color: #4e6470"
      >
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60%; margin-bottom: 2%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-map-marker-alt"></i> Calle 9 No. 14-03, Contiguo al
          Hospital Universitario de Neiva, Unidad de Investigación y Posgrados,
          Oficina 530 - 102
        </p>
        <p style="font-size: 11px; margin-bottom: 2%">
          <i class="fas fa-envelope"></i>
          doctoradoencienciasdelasalud@usco.edu.co
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-phone"></i> (57) (8) 871 8959
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <i class="fas fa-print"></i> (57) (8) 871 8310 Extensión 3137
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">
          INSTITUCIONAL
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 90%; margin-bottom: 2%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/"
            target="_blank"
            ><i class="fas fa-globe"></i> Portal Institucional</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://campusvirtual.usco.edu.co/campusvirtual/"
            target="_blank"
            ><i class="fab fa-internet-explorer"></i> Campus Virtual</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://biblioteca.usco.edu.co/home"
            target="_blank"
            ><i class="fas fa-book"></i> Sistema de Bibliotecas</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://laborando.usco.edu.co/"
            target="_blank"
            ><i class="fas fa-users-cog"></i> Bolsa de Empleo USCO</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/rendicion-de-cuentas/"
            target="_blank"
            ><i class="fas fa-chart-bar"></i> Rendición de Cuentas</a
          >
        </p>
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            style="color: #4e6470; font-size: 12px"
            href="https://www.usco.edu.co/es/atencion-al-ciudadano/preguntas-y-respuestas-frecuentes/"
            target="_blank"
            ><i class="far fa-question-circle"></i> Preguntas y Respuestas
            Frecuentes</a
          >
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold" style="color: #4e6470">
          VISITAS
        </h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 80%"
        />
        <p style="font-size: 12px; margin-bottom: 2%">
          <a
            href="https://www.contadorvisitasgratis.com"
            title="contador gratis para web"
            ><img
              src="https://counter7.stat.ovh/private/contadorvisitasgratis.php?c=hxth4dnck2rpnzxu4wyb2hjxgd7c74cc"
              border="0"
              title="contador gratis para web"
              alt="contador gratis para web"
          /></a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Content -->
        <img
          class="centro"
          style="width: 80%"
          src="assets/universidad-surcolombiana.png"
          alt=""
        />
        <p
          class="text-center"
          style="color: #4e6470; font-size: 12px; margin-top: 10px"
        >
          Institución de Educación Superior sujeta a inspección y vigilancia del
          Ministerio de Educación Nacional.
        </p>
        <img
          class="centro"
          style="width: 70%"
          src="assets/icontec.png"
          alt=""
        />
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <ng-template #showLogin>
    <div
      class="footer-copyright text-center py-3"
      style="background-color: #4d626c; color: #ededed"
    >
      © 2021 Doctorado en Ciencias de la Salud. Universidad Surcolombiana |
      <i class="fas fa-lock"></i
      ><a
        style="color: aliceblue"
        class="cursorSelect"
        (click)="openSm(formAdmin)"
      >
        Ingresar</a
      >
    </div>
  </ng-template>

  <div
    *ngIf="auth.user | async; else showLogin"
    class="footer-copyright text-center py-3"
    style="background-color: #4d626c; color: #ededed"
  >
    © 2021 Doctorado en Ciencias de la Salud. Universidad Surcolombiana |
    <i class="fas fa-door-open"></i
    ><a style="color: aliceblue" class="cursorSelect" (click)="logout()">
      Salir</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<ng-template #formAdmin let-modal>
  <div class="modal-header bgrojoyblanco">
    <h4 class="modal-title">
      <i class="fas fa-user-cog white"></i> Administrar:
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times" style="color: white"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="text-center p-2" #forma="ngForm">
        <!-- Email -->
        <div class="d-flex justify-content-around">
          <input
            type="email"
            id="defaultLoginFormEmail"
            [(ngModel)]="email"
            name="user"
            class="form-control mb-4 shadow"
            placeholder="Correo"
          />
        </div>

        <!-- Password -->
        <div class="d-flex justify-content-around" *ngIf="viewPass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="password"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ver contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="view()"
              >
                <i class="far fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Password view-->
        <div class="d-flex justify-content-around" *ngIf="hidePass != true">
          <div class="input-group mb-3">
            <input
              [(ngModel)]="pass"
              name="pass"
              type="text"
              class="form-control shadow"
              placeholder="Contraseña"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="customLogin()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Ocultar contraseña"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="hide()"
              >
                <i class="far fa-eye-slash"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="justify-content-around">
          <div class="m-2">
            <!-- Forgot password -->
            <a (click)="recuperar()" class="cursorSelect text-blue"
              >¿Recuperar?</a
            >
          </div>
          <div class="input-group mb-3" *ngIf="viewRecuperar != true">
            <input
              class="form-control shadow"
              placeholder="Correo"
              type="email"
              id="defaultLoginFormEmail"
              [(ngModel)]="email"
              name="email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              (keyup.enter)="passEmail()"
            />
            <div class="input-group-append">
              <button
                placement="top"
                ngbTooltip="Enviar al correo"
                class="btn navlinkinSolid shadow"
                type="button"
                id="button-addon2"
                (click)="passEmail()"
              >
                <i class="far fa-paper-plane"></i>
              </button>
            </div>
            <small class="m-2"
              >Digite su correo para enviar un email y recuperar su
              contraseña</small
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <button
    type="button"
    style="
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    "
    class="btn navlinkinSolid p-3"
    ngbAutofocus
    (click)="customLogin()"
  >
    Acceder
  </button>
</ng-template>
